{
  "openapi": "3.0.1",
  "x-stoplight": {
    "id": "7d5o5gwp859js"
  },
  "info": {
    "title": "Marketplace API",
    "version": "1.0.0",
    "description": "Marketplace is a simple, intuitive, dropship platform built for business users. It offers easy integration with Shopify, BigCommerce, or existing stacks; supports retailer onboarding; and offers dedicated vendor onboarding support. <p> With Marketplace, you can connect with new vendors with no inventory risk; offer extended aisles of products; expand assortments with existing vendors; test new categories, SKUs, and price points; explore brand partnerships; and increase marketing and search opportunities. Using dropshipping effectivity can fuel data-driven merchandising decisions, maximizing margin and customer experience. <p> Marketplace dropship assortment strategies enable you to: <br> 1) Cross-sell and upsell to raise your average order value <br> 2) Offer substitute products to supplement out-of-stock inventory <br> 3) Capitalize on fast-moving market trends with readily sourceable products <br> 4) Test and validate new products, brands, and categories before manufacturing or placing POs <br> 5) Add depth to your existing product assortment with variations and endless aisles <br> 6) Offer seasonal products without the risking of over-buying or unhealthy inventory.",
    "contact": {
      "email": "support@libertytreemedia.com"
    },
    "license": {
      "name": "Privacy Policy",
      "url": "https://libertytreemedia.com/privacy-policy"
    }
  },
  "externalDocs": {
    "description": "Find out more about Marketplace",
    "url": "https://knowledgebase.libertytreemedia.com/knowledgebase/marketplace-brands"
  },
  "servers": [
    {
      "url": "https://marketplace-api.libertytreemedia.com"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/v1/retailers/{retailer_pk}/inventory/": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get a list of variant inventory positions",
        "description": "Get variants and their inventory details, including total inventory and inventory based on location.<p>To get items with inventory updated since a Unix epoch Time, pass the `updated_at_{operator}` as a query paramater, where `{operator}` is <br> **lt** (less than) <br> **lte** (less than or equal) <br> **gt** (greater than) <br> **gte** (greater than or equal).",
        "operationId": "v1_retailers_inventory_list",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Retailer ID",
            "example": 100024
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Unique identifier assigned to the variant by the brand",
            "schema": {
              "type": "string"
            },
            "example": "ABC123"
          },
          {
            "name": "brand_id",
            "in": "query",
            "description": "Brand ID. Multiple values may be separated by commas",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "example": [
              2020,
              1455
            ]
          },
          {
            "name": "connection_id",
            "in": "query",
            "description": "Connection ID. Multiple values may be separated by comma.",
            "schema": {
              "type": "number"
            },
            "example": 1000
          },
          {
            "name": "parent_identifier",
            "in": "query",
            "description": "Parent product identifier. Multiple values may be separated by commas",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "123A1",
              "528A5"
            ]
          },
          {
            "name": "retailer_sku",
            "in": "query",
            "description": "Retailer SKU",
            "schema": {
              "type": "string"
            },
            "example": "SKU123"
          },
          {
            "name": "in_stock",
            "in": "query",
            "description": "1: Variant is in stock <br> 0: Variant is out of stock",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "ignore_deleted",
            "in": "query",
            "description": "1: Ignore deleted variant <br> 0: Include deleted variant",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "is_sellable",
            "in": "query",
            "description": "1: Variant is sellable <br> 0: Variant is not sellable",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "is_discontinued",
            "in": "query",
            "description": "1: Variant is discontinued <br> 0: Variant is active",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "no_ead",
            "in": "query",
            "description": "1: Variant has no estimated availability date <br>  0: Variant has estimated delivery date",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "no_stock_no_ead",
            "in": "query",
            "description": "1: Variant does not have an estimated availability date. <br> 0: Variant has an estimated availability",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "inventory_updated_at_lt",
            "in": "query",
            "description": "Inventory update was less than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "inventory_updated_at_lte",
            "in": "query",
            "description": "Inventory update was less than or equal to specified Time (Unix epoch format) Time",
            "schema": {
              "type": "number"
            },
            "example": 1265550936
          },
          {
            "name": "inventory_updated_at_gt",
            "in": "query",
            "description": "Inventory update was greater than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1365550936
          },
          {
            "name": "inventory_updated_at_gte",
            "in": "query",
            "description": "Inventory update was greater than or equal to a specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sorting criteria",
            "schema": {
              "type": "string"
            },
            "example": "Ascending"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number within the paginated result set",
            "schema": {
              "type": "integer"
            },
            "example": 2
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 805,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Inventory"
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 780,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Inventory"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/inventory/{id}/": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get inventory of a single variant",
        "description": "Gets the inventory position for a single variant.",
        "operationId": "v1_retailers_inventory_read",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Retailer ID",
            "example": 500
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Inventory ID",
            "example": 100024
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inventory"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Inventory"
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/connections/": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get vendor connections",
        "description": "Gets a list of vendor connections.",
        "operationId": "v1_retailers_connections_list",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Retailer ID",
            "example": 5001
          },
          {
            "name": "brand_id",
            "in": "query",
            "description": "Brand (vendor) IDs. Multiple comma separated values may be added",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              500,
              550
            ]
          },
          {
            "name": "retailer_id",
            "in": "query",
            "description": "Retailer IDs. Multiple values may be separated by commas. Retailer ID",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              2050,
              1001
            ]
          },
          {
            "name": "vertical_id",
            "in": "query",
            "description": "ID for verticals such as shoes, clothing, furniture. Multiple values may be added, separated by commas",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              2054,
              5646
            ]
          },
          {
            "name": "integration_type",
            "in": "query",
            "description": "Integration types such as EDI, API, WooCommerce, etc. Multiple values may be separated by commas",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "EDI",
              "API"
            ]
          },
          {
            "name": "brand_has_adjustments",
            "in": "query",
            "description": "1: Brand (vendor) has monetary adjustments <br> 0: Brand doesn't have adjustments",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "brand_has_allowances",
            "in": "query",
            "description": "1: brand has allowances such as discounts <br> 0: brand does not have allowances",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "brand_has_charges",
            "in": "query",
            "description": "1: brand has charges such as shipping and handling <br> 0: brand does not have charges",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "brand_inventory_policy",
            "in": "query",
            "description": "Managed: brand wants to manage inventory; Unmanaged: brand does not want to manage inventory",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "retailer_identifier",
            "in": "query",
            "description": "Retailer IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              1023,
              2044
            ]
          },
          {
            "name": "options_enabled",
            "in": "query",
            "description": "Connection options enabled. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "Auto-close invoice",
              "Manual invoice"
            ]
          },
          {
            "name": "options_disabled",
            "in": "query",
            "description": "Connection options disabled",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Connection status. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "Active",
              "Pending"
            ]
          },
          {
            "name": "onboarding_target_date_lt",
            "in": "query",
            "description": "Onboarding target date is less than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "onboarding_target_date_lte",
            "in": "query",
            "description": "Onboarding target date is less than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1265550936
          },
          {
            "name": "onboarding_target_date_gt",
            "in": "query",
            "description": "Onboarding target date is greater than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1365550936
          },
          {
            "name": "onboarding_target_date_gte",
            "in": "query",
            "description": "Onboarding target date is greater than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1465550936
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sorting criteria",
            "schema": {
              "type": "string"
            },
            "example": "Ascending"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number within the paginated result set",
            "schema": {
              "type": "integer"
            },
            "example": 2
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 1023,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/accounts/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/accounts/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Connection"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/connections/{id}/": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get connections of a single vendor",
        "description": "Gets the connection details for a specified vendor",
        "operationId": "v1_retailers_connections_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Connection ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 11001
          },
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "description": "Retailer ID",
            "schema": {
              "type": "number"
            },
            "example": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerConnectionDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/orders/": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new order (for a single vendor)",
        "description": "Accepts orders from retailers for a single vendor. When an order is created by a retailer, the order is immediately distributed to the vendor however the vendor is connected to (example: EDI, API, or portal)",
        "operationId": "v1_retailers_orders_create",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 2050
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetailerOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerOrder"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerOrder"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get orders",
        "description": "Gets a list of orders.",
        "operationId": "v1_retailers_orders_list",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Retailer ID",
            "example": "50236"
          },
          {
            "name": "retailer_order_num",
            "in": "query",
            "description": "Retailer order number",
            "schema": {
              "type": "string"
            },
            "example": "9119111"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Tags used for categorization. Multiple values may be added, separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "demo",
              "sample"
            ]
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Meta data. Multiple values may be added, separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "Shipping service, UPS ground"
            ]
          },
          {
            "name": "metadata_value",
            "in": "query",
            "description": "Metadata values",
            "schema": {
              "type": "string"
            },
            "example": "About us"
          },
          {
            "name": "generic_shipping_method",
            "in": "query",
            "description": "Shipping methods (names). Multiple values may be added, separated by comma",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "Gen1",
              "Gen2"
            ]
          },
          {
            "name": "purchase_order_number",
            "in": "query",
            "description": "Purchase order number",
            "schema": {
              "type": "string"
            },
            "example": "CS192169"
          },
          {
            "name": "customer_order_number",
            "in": "query",
            "description": "Customer order number",
            "schema": {
              "type": "string"
            },
            "example": "12311"
          },
          {
            "name": "retailer_order_number",
            "in": "query",
            "description": "Retailer order number",
            "schema": {
              "type": "string"
            },
            "example": "9029111"
          },
          {
            "name": "search_order_number",
            "in": "query",
            "description": "Search by purchase order number, customer order number or retailer order number",
            "schema": {
              "type": "string"
            },
            "example": "PO911"
          },
          {
            "name": "variant_id",
            "in": "query",
            "description": "Variant IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              9112,
              56887
            ]
          },
          {
            "name": "variant_identifier",
            "in": "query",
            "description": "Variant SKUs. Multiple values may be added, separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "SKU1",
              "SKU2"
            ]
          },
          {
            "name": "retailer_category",
            "in": "query",
            "description": "Retailer categories. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "category1",
              "category2"
            ]
          },
          {
            "name": "retailer_category_id",
            "in": "query",
            "description": "Retailer category IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              1023,
              2041
            ]
          },
          {
            "name": "workflow",
            "in": "query",
            "description": "Status of the order such as *pending*, *new*, *creating_shipments*, *ship*, *invoice*, *creating_invoices*, *on_hold*, *closed*, *shipping_errors*, and *invoice_errors*. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "pending",
              "new"
            ]
          },
          {
            "name": "status",
            "in": "query",
            "description": "Order status such as *open*, *closed* *partial*, *pending and *cancelled*.",
            "schema": {
              "type": "string"
            },
            "example": "open"
          },
          {
            "name": "shipment_status",
            "in": "query",
            "description": "Shipment status such as *open*, *closed*, *partial*, *pending, and *cancelled*",
            "schema": {
              "type": "string"
            },
            "example": "open"
          },
          {
            "name": "orderline_status",
            "in": "query",
            "description": "Order line status",
            "schema": {
              "type": "string"
            },
            "example": "OLS2121-1"
          },
          {
            "name": "is_gift",
            "in": "query",
            "description": "1: Order is a gift <br> 0: Order is not a gift",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "is_replacement",
            "in": "query",
            "description": "1: Order is a replacement <br> 0: Order is not a replacement",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "is_backordered",
            "in": "query",
            "description": "1: Product is backordered <br> 0: Product is not backordered",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "shipment_is_acknowledged",
            "in": "query",
            "description": "1: Shipment is acknowledged <br> 0: Shipment is not acknowledged",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "cancel_is_acknowledged",
            "in": "query",
            "description": "1: Cancellation is acknowledged <br> 0: Cancellation is not acknowledged",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "invoice_is_acknowledged",
            "in": "query",
            "description": "1: Invoice is acknowledged <br> 0: Invoice is not acknowledged",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "rma_is_acknowledged",
            "in": "query",
            "description": "1: RMA is acknowledged <br> 0: RMA is not acknowledged",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "backorder_is_acknowledged",
            "in": "query",
            "description": "1: Backorder is acknowledged <br> 0: Backorder is not acknowledged",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "has_shipments",
            "in": "query",
            "description": "1: Order has shipments <br> 0: Order does not have shipments",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "has_cancels",
            "in": "query",
            "description": "1: Order has cancellation <br> 0: Order does not have cancellation",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "has_invoices",
            "in": "query",
            "description": "1: Order has invoices <br> 0: Order does not have invoices",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "has_rmas",
            "in": "query",
            "description": "1: Order has RMA <br> 0: Order does not have RMA",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "not_fully_shipped",
            "in": "query",
            "description": "1: Order is not fully shipped <br> 0: Order is fully shipped",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "not_fully_invoiced",
            "in": "query",
            "description": "1: Order is not fully invoiced <br> 0: Order is fully invoiced",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "cancel_acknowledged_at_gt",
            "in": "query",
            "description": "Cancellation acknowledgement date is greater than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "cancel_acknowledged_at_gte",
            "in": "query",
            "description": "Cancellation acknowledgement date is greater than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1265550936
          },
          {
            "name": "cancel_acknowledged_at_lt",
            "in": "query",
            "description": "Cancellation acknowledgement date is less than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "cancel_acknowledged_at_lte",
            "in": "query",
            "description": "Cancellation acknowledgement date is less than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1565550936
          },
          {
            "name": "backordered_until_gt",
            "in": "query",
            "description": "Backordered date is greater than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1565550936
          },
          {
            "name": "backordered_until_gte",
            "in": "query",
            "description": "Backordered date is greater than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "backordered_until_lt",
            "in": "query",
            "description": "Backordered date is less than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1265550936
          },
          {
            "name": "backordered_until_lte",
            "in": "query",
            "description": "Backordered date is less than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1365550936
          },
          {
            "name": "memos_created_at_gte",
            "in": "query",
            "description": "Memos creation date is greater than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "since",
            "in": "query",
            "description": "Past date till the current time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1565550936
          },
          {
            "name": "order_batch_id",
            "in": "query",
            "description": "Batch ID of order. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              4568,
              4567
            ]
          },
          {
            "name": "brand_id",
            "in": "query",
            "description": "Vendor IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              600,
              603
            ]
          },
          {
            "name": "retailer_id",
            "in": "query",
            "description": "Retailer ID. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              500,
              503
            ]
          },
          {
            "name": "connection_id",
            "in": "query",
            "description": "Connection ID. Multiple values may be separated by commas.Connection ID",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              10024,
              15879
            ]
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sorting preference",
            "schema": {
              "type": "string"
            },
            "example": "Ascending"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number of the paginated response",
            "schema": {
              "type": "integer"
            },
            "example": 2
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 100,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RetailerOrder"
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 1001,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RetailerOrder"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/orders/{id}/": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get single order details",
        "description": "Gets the details of a single order by specifying retailer ID and order ID.",
        "operationId": "v1_retailers_orders_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1009
          },
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "description": "Retailer ID",
            "schema": {
              "type": "number"
            },
            "example": 500
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerOrder"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerOrder"
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/sales-orders/": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new order (mixed vendors)",
        "description": "Creates a new order (mixed vendors)",
        "operationId": "v1_retailers_sales-orders_create",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "description": "Retailer ID",
            "schema": {
              "type": "number"
            },
            "example": 500
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetailerOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerOrder"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/retailers/{retailer_pk}/shipments/": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "List fulfillments or shipments from vendors",
        "description": "Gets a list of fulfillments or shipments that contain details about the variants included in the shipment along with the tracking number. Generally, the is_acknowledged=0 is passed as a query to return only new shipments not yet processed by the retailer.",
        "operationId": "v1_retailers_shipments_list",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 500,
            "description": "Retailer ID"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Shipment status",
            "schema": {
              "type": "string"
            },
            "example": "Shipped"
          },
          {
            "name": "is_acknowledged",
            "in": "query",
            "description": "1: shipment is picked up <br> 0: shipment is not picked up",
            "schema": {
              "type": "number"
            },
            "example": 0
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by tracking or purchase order number",
            "schema": {
              "type": "string"
            },
            "example": "CS192168"
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Order IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              1005,
              1501
            ]
          },
          {
            "name": "since",
            "in": "query",
            "description": "Past date till current (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1065550936
          },
          {
            "name": "connection_id",
            "in": "query",
            "description": "Connection ID. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              2551,
              5546
            ]
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sorting preference",
            "schema": {
              "type": "string"
            },
            "example": "Ascending"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number within the paginated result set",
            "schema": {
              "type": "integer"
            },
            "example": 2
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 600,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RetailerShipmentList"
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 600,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RetailerShipmentList"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/shipments/{id}/": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get details of a single shipment.",
        "description": "Gets the details of a specified single shipment.",
        "operationId": "v1_retailers_shipments_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Shipment ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 4060
          },
          {
            "name": "retailer_pk",
            "in": "path",
            "description": "Retailer ID",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 500
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerShipmentList"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerShipmentList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/shipments/{id}/acknowledge/": {
      "put": {
        "tags": [
          "Shipments"
        ],
        "summary": "Acknowledge shipment receipt",
        "description": "After successfully processing a shipment, the shipment should be acknowledged so that it does not appear in subsequent requests to /shipments/?is_acknowledged=0.",
        "operationId": "v1_retailers_shipments_acknowledge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Shipment ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 4050
          },
          {
            "name": "retailer_pk",
            "in": "path",
            "description": "Retailer ID",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 506
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetailerShipmentList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerShipmentList"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/RetailerShipmentList"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/retailers/{retailer_pk}/invoices/": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invocies from vendors",
        "description": "Gets a list of invoices from vendors",
        "operationId": "v1_retailers_invoices_list",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Retailer ID",
            "example": 405
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by invoice or purchase order number",
            "schema": {
              "type": "string"
            },
            "example": "PO-1234"
          },
          {
            "name": "is_acknowledged",
            "in": "query",
            "description": "1: Acknowledged invoices <br> 0: Unacknowledged invoices",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "is_paid",
            "in": "query",
            "description": "1: Paid invoices <br> 0: Unpaid invoices",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "invoiced_at_lt",
            "in": "query",
            "description": "Invoice date is lesser than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "invoiced_at_lte",
            "in": "query",
            "description": "Invoice date is lesser than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "invoiced_at_gt",
            "in": "query",
            "description": "Invoice date is greater than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "invoiced_at_gte",
            "in": "query",
            "description": "Invoice date is greater than or equal to specified unix Time",
            "schema": {
              "type": "number"
            },
            "example": 1065550936
          },
          {
            "name": "terms_date_due_lt",
            "in": "query",
            "description": "Invoice due date is less than specified Time(Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "terms_date_due_lte",
            "in": "query",
            "description": "Invoice due date is less than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "terms_date_due_gt",
            "in": "query",
            "description": "Invoice due date is greater than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "terms_date_due_gte",
            "in": "query",
            "description": "Invoice due date is greater than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "connection_id",
            "in": "query",
            "description": "Connection ID. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              1001,
              1005
            ]
          },
          {
            "name": "brand_id",
            "in": "query",
            "description": "Vendor IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              500,
              589
            ]
          },
          {
            "name": "retailer_id",
            "in": "query",
            "description": "Retailer IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              34,
              56
            ]
          },
          {
            "name": "payment_id",
            "in": "query",
            "description": "Payment IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              12353,
              12455
            ]
          },
          {
            "name": "has_payment",
            "in": "query",
            "description": "1: Invoice is paid <br> 0: Invoice is unpaid",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "purchase_order_number",
            "in": "query",
            "description": "Purchase order number",
            "schema": {
              "type": "string"
            },
            "example": "PO-15492456"
          },
          {
            "name": "total_due_lt",
            "in": "query",
            "description": "Total due amount is less than the specified amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "total_due_lte",
            "in": "query",
            "description": "Total due amount is less than or equal to the specified amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "total_due_gt",
            "in": "query",
            "description": "Total due amount is greater than the specified amount",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "total_due_gte",
            "in": "query",
            "description": "Total due amount is greater than or equal to the specified amount",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "paid_at_lt",
            "in": "query",
            "description": "Paid on date is less than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "paid_at_lte",
            "in": "query",
            "description": "Paid on date is less than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "paid_at_gt",
            "in": "query",
            "description": "Paid on date is greater than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "paid_at_gte",
            "in": "query",
            "description": "Paid on date is greater than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "order_closed_at_lt",
            "in": "query",
            "description": "Order closure date is less than specified Time (Unix epoch format).",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "order_closed_at_lte",
            "in": "query",
            "description": "Order closure date is less than or equal to specified Time (Unix epoch format).",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "order_closed_at_gt",
            "in": "query",
            "description": "Order close date is greater than specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1265550936
          },
          {
            "name": "order_closed_at_gte",
            "in": "query",
            "description": "Order closure date is greater than or equal to specified Time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1165550936
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sorting preference",
            "schema": {
              "type": "string"
            },
            "example": "Ascending"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number within the paginated response",
            "schema": {
              "type": "integer"
            },
            "example": 3
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 100,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 100,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/invoices/{id}/": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get details of a single invoice",
        "description": "Gets details of a single invoice",
        "operationId": "v1_retailers_invoices_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Invoice ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 124
          },
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "description": "Retailer ID",
            "schema": {
              "type": "number"
            },
            "example": 1053
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/invoices/{id}/acknowledge/": {
      "put": {
        "tags": [
          "Invoices"
        ],
        "summary": "Acknowledge receipt of an invoice.",
        "description": "Retailers, generally, include is_acknowledged=0 as a query string parameter to get only new invoices. Then, for each shipment returned, the retailer should process the shipment and update any necessary internal systems (such as OMS or ERP). After processing a shipment successfully, the retailer should acknowledge the shipment using this endpoint so that subsequent queries to the /shipments/?is_acknowledged=0 endpoing does not return processed shipments.",
        "operationId": "v1_retailers_invoices_acknowledge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Invoice ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 77717358
          },
          {
            "name": "retailer_pk",
            "in": "path",
            "description": "Retailer ID",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 1020
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/retailers/{retailer_pk}/rmas/": {
      "post": {
        "tags": [
          "Returns"
        ],
        "summary": "Register a pending return for a vendor",
        "description": "Registers a pending return for a vendor.",
        "operationId": "v1_retailers_rmas_create",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 1047
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RMA"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RMA"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/RMA"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "get": {
        "tags": [
          "Returns"
        ],
        "summary": "Get a list of returns",
        "description": "Gets a list of returns. RMAs are issued when merchandise needs to be, or has already been, returned to the vendor. Either party (vendor or retailer) can initiate the return. Once created, the return's status is set to *pending* while the vendor awaits the delivery of the items to the return address. Upon receipt, the vendor will inspect the items, and if all is well, *close* the return.",
        "operationId": "v1_retailers_rmas_list",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 1075,
            "description": "Retailer ID"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by RMA status or identifier",
            "schema": {
              "type": "string"
            },
            "example": "RMA-21"
          },
          {
            "name": "status",
            "in": "query",
            "description": "RMA status",
            "schema": {
              "type": "string"
            },
            "example": "Open"
          },
          {
            "name": "purchase_order_number",
            "in": "query",
            "description": "Purchase order number",
            "schema": {
              "type": "string"
            },
            "example": "PO-13979ER"
          },
          {
            "name": "rma_number",
            "in": "query",
            "description": "RMA number",
            "schema": {
              "type": "string"
            },
            "example": "154689"
          },
          {
            "name": "reason_id",
            "in": "query",
            "description": "Reason IDs associated with RMAs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": 245
          },
          {
            "name": "reason",
            "in": "query",
            "description": "RMA reason",
            "schema": {
              "type": "string"
            },
            "example": "Retailer Requested RMA"
          },
          {
            "name": "since",
            "in": "query",
            "description": "From a past date till current time (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "brand_id",
            "in": "query",
            "description": "Vendor ID. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              1445,
              5467
            ]
          },
          {
            "name": "connection_id",
            "in": "query",
            "description": "Connection IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              1001,
              1010
            ]
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sorting criteria",
            "schema": {
              "type": "string"
            },
            "example": "Ascending"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number within the paginated response",
            "schema": {
              "type": "integer"
            },
            "example": 3
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 1005,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RMA"
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "ccount": {
                      "description": "Total number of records",
                      "example": 1005,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RMA"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/rmas/{id}/": {
      "get": {
        "tags": [
          "Returns"
        ],
        "summary": "Get details of a return.",
        "description": "Gets the details of a return.",
        "operationId": "v1_retailers_rmas_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "RMA ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 12
          },
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "description": "Retailer ID",
            "schema": {
              "type": "number"
            },
            "example": 1047
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RMA"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/RMA"
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/rmas/{id}/acknowledge/": {
      "put": {
        "tags": [
          "Returns"
        ],
        "summary": "Acknowledge return",
        "description": "Acknowledge receipt of an approved return.",
        "operationId": "v1_retailers_rmas_acknowledge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "RMA ID",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 12
          },
          {
            "name": "retailer_pk",
            "in": "path",
            "description": "Retailer ID",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 506
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RMA"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RMA"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/RMA"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/retailers/{retailer_pk}/products/": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List products",
        "description": "Gets a list of products.",
        "operationId": "v1_retailers_products_list",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "description": "Retailer ID",
            "schema": {
              "type": "number"
            },
            "example": 1047
          },
          {
            "name": "since",
            "in": "query",
            "description": "Past date till current (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1665550936
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by variant ID, identifier, UPC, name, and retailer_identifier",
            "schema": {
              "type": "string"
            },
            "example": "12342"
          },
          {
            "name": "search_id",
            "in": "query",
            "description": "Variant ID",
            "schema": {
              "type": "number"
            },
            "example": 100024
          },
          {
            "name": "search_name",
            "in": "query",
            "description": "Search by name",
            "schema": {
              "type": "string"
            },
            "example": "T-Shirt"
          },
          {
            "name": "search_upc",
            "in": "query",
            "description": "Search by UPC",
            "schema": {
              "type": "string"
            },
            "example": "555555555202"
          },
          {
            "name": "search_sku",
            "in": "query",
            "description": "Search by SKU",
            "schema": {
              "type": "string"
            },
            "example": "SKU123"
          },
          {
            "name": "retailer_sku",
            "in": "query",
            "description": "Retailer SKU",
            "schema": {
              "type": "string"
            },
            "example": "RSKU123"
          },
          {
            "name": "product_search",
            "in": "query",
            "description": "Search by product name, identifier, or brand category",
            "schema": {
              "type": "string"
            },
            "example": "DemoProd1"
          },
          {
            "name": "attribute",
            "in": "query",
            "description": "Product attributes",
            "schema": {
              "type": "string"
            },
            "example": "Size"
          },
          {
            "name": "retailer_attribute",
            "in": "query",
            "description": "Retailer attribute",
            "schema": {
              "type": "string"
            },
            "example": "Size"
          },
          {
            "name": "retailer_id",
            "in": "query",
            "description": "Retailer ID",
            "schema": {
              "type": "number"
            },
            "example": 206
          },
          {
            "name": "brand_id",
            "in": "query",
            "description": "Vendor IDs. Multiple values may be added, separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": 1234
          },
          {
            "name": "brand_code",
            "in": "query",
            "description": "Brand codes. Multiple values may be added, separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "demo-brand1",
              "demo-brand2"
            ]
          },
          {
            "name": "brand_category",
            "in": "query",
            "description": "Brand categories. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "category 1",
              "category 2"
            ]
          },
          {
            "name": "manufacturer_id",
            "in": "query",
            "description": "Manufacturer IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              2056,
              5898
            ]
          },
          {
            "name": "connection_id",
            "in": "query",
            "description": "Connection ID.",
            "schema": {
              "type": "number"
            },
            "example": 1056
          },
          {
            "name": "manufacturer_code",
            "in": "query",
            "description": "Manufacturer codes. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "ManC-1",
              "ManC-2"
            ]
          },
          {
            "name": "identifier",
            "in": "query",
            "description": "Stock Keeping Unit (SKU), unique identifier of a product",
            "schema": {
              "type": "string"
            },
            "example": "2341SD"
          },
          {
            "name": "parent_identifier",
            "in": "query",
            "description": "SKU of parent product",
            "schema": {
              "type": "string"
            },
            "example": "Main-1"
          },
          {
            "name": "is_discontinued",
            "in": "query",
            "description": "1: Product is discontinued <br> 0: Product is not discontinued",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "is_sellable",
            "in": "query",
            "description": "1: Product is sellable <br> 0: Product is not sellable",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "in_stock",
            "in": "query",
            "description": "1: Product is in stock <br> 0: Product is out of stock",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "taxonomy_id",
            "in": "query",
            "description": "Taxonomy ID",
            "schema": {
              "type": "string"
            },
            "example": "Tax123"
          },
          {
            "name": "has_images",
            "in": "query",
            "description": "1: Product has images <br> 0: Product does not have images",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "has_shipping",
            "in": "query",
            "description": "1: Product has shipping <br> 0: Product does not have shipping",
            "schema": {
              "type": "number"
            },
            "example": 1
          },
          {
            "name": "decision",
            "in": "query",
            "description": "Internal only",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sorting preference",
            "schema": {
              "type": "string"
            },
            "example": "Ascending"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number within the paginated result set",
            "schema": {
              "type": "integer"
            },
            "example": 2
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "description": "Total number of records",
                      "example": 100,
                      "type": "integer"
                    },
                    "next": {
                      "description": "Next page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=5",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Previous page (applicable in a paginated response)",
                      "example": "https://api.example.org/demo/{retailer_pk}/?page=3",
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductShort"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/products/{id}/": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get single product details",
        "description": "Gets the details for a specified product.",
        "operationId": "v1_retailers_products_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Product ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 12421
          },
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 1057,
            "description": "Retailer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductWithAttributes"
                }
              }
            }
          }
        }
      }
    },
    "/v1/retailers/{retailer_pk}/variants/": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get variants",
        "description": "Gets variants ",
        "operationId": "v1_retailers_variants_list",
        "parameters": [
          {
            "name": "retailer_pk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "example": 1075
          },
          {
            "name": "inventory_updated_at_lt",
            "in": "query",
            "description": "Inventory updated date is less than specified date (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1365550936
          },
          {
            "name": "inventory_updated_at_lte",
            "in": "query",
            "description": "Inventory updated date is less than or equal to specified date (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1365550936
          },
          {
            "name": "inventory_updated_at_gt",
            "in": "query",
            "description": "Inventory updated date is greater than specified date (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": "1365550936\""
          },
          {
            "name": "inventory_updated_at_gte",
            "in": "query",
            "description": "Inventory updated date is greater than or equal to specified date (Unix epoch format)",
            "schema": {
              "type": "number"
            },
            "example": 1365550936
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search criteria",
            "schema": {
              "type": "string"
            },
            "example": "Sample134"
          },
          {
            "name": "search_id",
            "in": "query",
            "description": "Search ID",
            "schema": {
              "type": "string"
            },
            "example": "Demo123"
          },
          {
            "name": "search_name",
            "in": "query",
            "description": "Search name",
            "schema": {
              "type": "string"
            },
            "example": "Sample1"
          },
          {
            "name": "search_upc",
            "in": "query",
            "description": "Search by UPC",
            "schema": {
              "type": "string"
            },
            "example": "9119119111"
          },
          {
            "name": "search_sku",
            "in": "query",
            "description": "Search by SKUs",
            "schema": {
              "type": "string"
            },
            "example": "SKU897"
          },
          {
            "name": "retailer_sku",
            "in": "query",
            "description": "Retailer SKUs",
            "schema": {
              "type": "string"
            },
            "example": "RSKU-123"
          },
          {
            "name": "attribute",
            "in": "query",
            "description": "Product attribute",
            "schema": {
              "type": "string"
            },
            "example": "Weight"
          },
          {
            "name": "retailer_id",
            "in": "query",
            "description": "Retailer ID",
            "schema": {
              "type": "number"
            },
            "example": 124
          },
          {
            "name": "brand_id",
            "in": "query",
            "description": "Vendor Ids. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              5008,
              5566
            ]
          },
          {
            "name": "brand_code",
            "in": "query",
            "description": "Brand codes. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "demo-brand",
              "sample-brand"
            ]
          },
          {
            "name": "manufacturer_id",
            "in": "query",
            "description": "Manufacturer IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              26879,
              4464
            ]
          },
          {
            "name": "manufacturer_code",
            "in": "query",
            "description": "Manufacturer codes. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "manufacturer1",
              "manufacturer2"
            ]
          },
          {
            "name": "failed_rule_id",
            "in": "query",
            "description": "Failed rule ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rule_id",
            "in": "query",
            "description": "Rule ID",
            "schema": {
              "type": "number"
            },
            "example": 5456
          },
          {
            "name": "ruleset_id",
            "in": "query",
            "description": "Ruleset ID",
            "schema": {
              "type": "string"
            },
            "example": "RID-123"
          },
          {
            "name": "failure_type",
            "in": "query",
            "description": "Failure type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taxonomy_id",
            "in": "query",
            "description": "Taxonomy ID",
            "schema": {
              "type": "string"
            },
            "example": "TXNMY123"
          },
          {
            "name": "retailer_category",
            "in": "query",
            "description": "Retailer category. Multiple values may be added, separated by commas.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "Demo1",
              "Sample2"
            ]
          },
          {
            "name": "retailer_category_id",
            "in": "query",
            "description": "Retailer category IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "example": [
              1341,
              4564
            ]
          },
          {
            "name": "connection_id",
            "in": "query",
            "description": "Connection ID",
            "schema": {
              "type": "number"
            },
            "example": 1001
          },
          {
            "name": "product_id",
            "in": "query",
            "description": "Product IDs. Multiple values may be separated by commas.",
            "schema": {
              "type": "array",
              "items": {
[...]
