{
  "openapi": "3.0.1",
  "x-stoplight": {
    "id": "hqkyp6zlzfln0"
  },
  "info": {
    "title": "Member APIs",
    "description": "**Member** is a Loyalty Management System (LMS) that enables marketers to create multiple loyalty strategies under a loyalty program to cater to various businesses and customer segments. <br> **Member overview**: <br> During onboarding, you are given the necessary **credentials** (client_id and client_secret) to obtain an access token, which is required to run every call. Membership hierarchy is organized into Programs, Clubs, and Tiers. <br> **Program** is the first hierarchy level and is where rewards and benefits are configured for the organization. <br> **Club** is the second hierarchy level and is where Rules for the program are configured. <br>Each Club must have at least one **Tier**, which is used to define membership and to configure criteria and thresholds (including free vs paid). Additional hierarchy levels can be added to support the needs of your business.  <br> Members are always enrolled into a **Default Tier** within a club. When members make purchases, they earn Points based on the rules set at the club level and/or based on promotions. When points in a member account reach a predefined **Threshold Value**, points are converted to **Rewards**. This conversion may be manual or automatic depending on the program configuration. Members can **Redeem** their rewards within the reward **Expiry Period**. Account point balances are updated after each point-impacting activity.",
    "version": "1.0.0",
    "contact": {
      "email": "support@libertytreemedia.com"
    },
    "license": {
      "name": "Inc",
      "url": "https://libertytreemedia.com"
    }
  },
  "servers": [
    {
      "url": "https://vanilla-dev02-loyalty.fabric.zone/api",
      "description": "For developers to work outside of the production environment."
    },
    {
      "url": "https://vanilla-stg-loyalty.fabric.zone/api",
      "description": "Replica of the production environment for testing."
    },
    {
      "url": "https://loyalty-sbx.fabric.zone/api",
      "description": "An isolated testing environment (UAT) to run programs without affecting the application, system or platform on which they run."
    },
    {
      "url": "https://loyalty.fabric.zone/api",
      "description": "Production environment."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/members": {
      "post": {
        "summary": "Enroll Member",
        "description": "After setting up your loyalty program with fabric, the next crucial step is to enroll members to the program. This endpoint enrolls a loyalty member into a default tier associated with a club. <br> **Note**: Only a single member can be enrolled at a time.",
        "tags": [
          "Members"
        ],
        "operationId": "member_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollMemberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "put": {
        "summary": "Update Member",
        "description": "Updates details of an existing member. <br> **Note**: Only a single member can be updated at a time.",
        "tags": [
          "Members"
        ],
        "operationId": "members_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Member updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollMemberUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "get": {
        "summary": "Retrieve Member(s)",
        "description": "Retrieves the details of all members of a parent company. The results can be narrowed down by using the query parameters. By specifying the loyaltyNumber or the profileId as query parameter, you can get details of a single member. <br> **Note**: <br> 1) Member must be already part of the loyalty program. <br> 2) The query parameter used to get results must be part of member information.",
        "tags": [
          "Members"
        ],
        "operationId": "members_read",
        "parameters": [
          {
            "name": "loyaltyNumber",
            "description": "Loyalty number of the member. Either the loyaltyNumber or the profileId must be specified. It is generated in the response of the Enroll Member endpoint - POST /v1/members/.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "description": "Profile ID of the member. Either the loyaltyNumber or the profileId must be specified. It is generated in the response of the Enroll Member endpoint - POST /v1/members/.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redemptionChoice",
            "in": "query",
            "description": "Redemption choice. Supported options are Bank and Auto. If the redemptionChoice is 'auto,' the points are automatically converted to rewards. When the redemptionChoice is 'bank,' the points are converted to rewards at the member’s requests.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "description": "First name of the member.",
            "example": "Sam",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "middleName",
            "in": "query",
            "description": "Middle name of the member.",
            "example": "M",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Last name of the member.",
            "example": "Demo",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phonenumber",
            "in": "query",
            "description": "Phone number given for enrollment (without space or dash).",
            "example": "923331234567",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address given for enrollment.",
            "example": "user@abc.com",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Address of member.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postalCode",
            "in": "query",
            "description": "Postal code of the address.",
            "example": "98004",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "City name",
            "example": "Bellevue",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryName",
            "in": "query",
            "description": "Country name",
            "example": "United State",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryAbbreviation",
            "in": "query",
            "description": "Abbreviation of the country name.",
            "example": "US",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionName",
            "in": "query",
            "description": "State name",
            "example": "Washington",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionAbbreviation",
            "in": "query",
            "description": "Abbreviation of the state name.",
            "example": "WA",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The starting number of record (within the total number of records) in the response. Default value is 0.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The ending number of record (from the offset number) in the response. Default value is 20.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/members/points-activate": {
      "post": {
        "summary": "Activate Points",
        "description": "Updates the status of the points from Pending to Active. When setToPending flag is true, the duration in which the points will be in Pending status must be specified between 0-24 hours. When it is 0, the endpoint must be run manually (otherwise, the points earned will remain in Pending status). When the duration is between 1-24 hours, the points stay in Pending status only for the defined period. This endpoint can be configured to run automatically to activate the points. **Note**: Points in the Pending status reflect in the account balance but they can be redeemed only after they reach the defined threshold value and is in Active status.",
        "tags": [
          "Members"
        ],
        "operationId": "members_points-activate_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PointActivationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivatePointsResponseClass"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/members/points-adjustment": {
      "post": {
        "summary": "Adjust Points",
        "description": "Allows points adjustment by adding or deducting points from the member’s loyalty account. <br> **Note**: <br> 1) The daily cap for adjustment is configurable as per the role requirements. <br> 2) Point adjustments are recorded as a transaction, where a pre-defined reason code must be selected.",
        "tags": [
          "Members"
        ],
        "operationId": "members_points-adjustment_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PointAdjustment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adjusted-points"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v2/earn": {
      "post": {
        "summary": "Earn Points",
        "description": "Earns and accumulates points based on core (earn and burn) rules, promotional rules, etc. set at the club level. It is possible, for instance, to set rules that a member will earn 10 points for every $100 spent in a purchase transaction, and 10 points are equivalent to $2. The rules are customizable based on the requirement. <br> Points are categorized as: <br> 1) Base points - Earned in any purchase transaction  based on the core rule. <br> 2) Bonus points - Earned as a bonus for example on a large purchase. <br> 3) Promotional Points - Earned as part of promotional events. <br> 4) Restricted Points - Points to be used only on specified stores. <br> <br> The Earn API uses the following formula for validating Payload: <br> 1) Amount Paid = Gross Amount - Discounts <br> 2) Net Amount = Gross Amount - Taxes - Discounts <br> 3) At the Transaction Item level: Item Price - (Discount/Quantity) = Net Amount / Quantity <br> 4) Total of all Transaction Items' Gross Amount = Total Gross Amount",
        "tags": [
          "Earn"
        ],
        "operationId": "earn_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Earn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v2/earn/get-transaction": {
      "get": {
        "summary": "Retrieve Transactions",
        "description": "Retrieves transactions based on the limit (default: 20) and offset (default: 0) values. This endpoint serves to populate the transaction listing page and as a search function based on the query parameters such as date range, transaction ID, etc.",
        "tags": [
          "Earn"
        ],
        "operationId": "earn_get-transaction_list",
        "parameters": [
          {
            "name": "profileId",
            "in": "query",
            "description": "The profile ID of the member. In an ecosystem, it acts as a primary ID to keep the various systems (apps, websites, etc.) in sync. The profileId is generated as part of the Enroll Member endpoint - POST /members.",
            "example": "67460e74-02e3-11e8-b443-00163e990bd2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTimestampUTC",
            "in": "query",
            "description": "The start date of the selected date range, in UTC format.",
            "example": "2020-03-20T01:30:08.180856",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTimestampUTC",
            "in": "query",
            "description": "The end date of the selected date range, in UTC format.",
            "example": "2020-03-20T01:30:08.180856",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "transactionExternalReference",
            "in": "query",
            "description": "External reference (name or ID) of the transaction like POS Order Id or Ecommerce Order Id.",
            "example": "2883-7273-61186",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionType",
            "in": "query",
            "description": "The field refers to the different type of transaction activities on a member account such as Earn Transaction, Burn Transaction, Earn Reverse Transaction and so on",
            "example": "EARN",
            "schema": {
              "type": "string",
              "enum": [
                "EARN",
                "BURN",
                "EXPIRY",
                "EARN_REVERSE",
                "BURN_REVERSE",
                "ADJUSTMENT",
                "DEDUCT",
                "TRANSFER",
                "MERGE",
                "FORFEITED",
                "CONVERT",
                "UNMERGE"
              ]
            }
          },
          {
            "name": "transactionCode",
            "in": "query",
            "description": "Transaction Code",
            "example": "62660e74-02e3-11e8-b443-00163e990abc",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Indicates the starting record number (within the total number of records) in the response. When no value is provided, the default value is 0.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Indicates the final record number (from the offset number) in the response. When no value is provided, the default value is 20.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        }
      }
    },
    "/v2/earn/reverse": {
      "post": {
        "summary": "Reverse Earned Points",
        "description": "When a member cancels a purchase transaction or returns an order, this endpoint cancels all the points earned in that transaction.",
        "tags": [
          "Earn"
        ],
        "operationId": "earn_reverse_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarnReverse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarnReverseApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/redeem/reward/issue": {
      "post": {
        "summary": "Issue Reward",
        "description": "Issues a reward certificate based on the member's request or when the points in the member's account reach a configurable threshold. <br> **Note** - A single reward is issued at a time. <br> When the redemptionChoice is set to 'auto', the points are automatically converted to rewards. When the redemptionChoice is 'bank,' the points are converted based on the member's request.<br> The response of this endpoint includes a redemptionCode, which is required to redeem the reward in the future.",
        "tags": [
          "Redeem"
        ],
        "operationId": "redeem_reward_issue_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueVariableReward"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/issuance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/redeem/member-reward": {
      "post": {
        "summary": "Redeem Rewards",
        "description": "Confirms the redemption and marks the reward as used. This is done based on the redemptionCode that is generated from the response of the 'Issue Variable Rewards' - POST /api/v1/redeem/reward/issue endpoint. <br> **Note**: <br> 1) Rewards have to be issued before they can be redeemed. <br> 2) Rewards must be within their expiration date.",
        "tags": [
          "Redeem"
        ],
        "operationId": "redeem_member-reward_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberReward"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/redeem-member-reward"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/redeem": {
      "get": {
        "summary": "Rewards History",
        "description": "Gets status-wise (Active, Cancelled, Redeemed, Reversed, etc.) details of all the rewards of a member. <br> **Note**: When the profileId query-param is not specified, this endpoint retrieves all rewards for all members of a company.",
        "tags": [
          "Redeem"
        ],
        "operationId": "redeem_read",
        "parameters": [
          {
            "name": "profileId",
            "in": "query",
            "description": "A member's unique profileId, generated in the response of the Enroll Member endpoint - POST /v1/members.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The ending number of the record (from the offset number) in the response. When no value is provided, the default value is 20.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The starting number of the record (within the total number of records) in the response. When no value is provided, the default value is 0.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberRedeemRewardsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/redeem/reverse": {
      "post": {
        "summary": "Reverse Redeemed Rewards",
        "description": "Converts rewards back to points when the order is cancelled or returned. <br> **Note**: Once a reward has been redeemed, it cannot be cancelled. To cancel the rewards (convert back to points) before redemption, use the ‘Cancel Reward’ endpoint - POST /api/v1/redeem/cancel.",
        "tags": [
          "Redeem"
        ],
        "operationId": "redeem_reverse_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReverseReward"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/reverse-reward-response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/redeem/cancel": {
      "post": {
        "summary": "Cancel Rewards",
        "description": "Loyalty points that are converted into reward certificates have an expiration date. Members can cancel their rewards if they are unable to use them before expiration or do not want to use them. The endpoint converts the rewards back into points, for future use. <br> **Note**: Once the reward is redeemed, it cannot be cancelled. If the member cancels or returns an order, the rewards are reversed back to points using the ‘Reverse Redeemed Reward’ endpoint - POST v1/redeem/reverse.",
        "tags": [
          "Redeem"
        ],
        "operationId": "redeem_cancel_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelReward"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cancel-reward-response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/discounts": {
      "post": {
        "summary": "Retrieve Discounts",
        "description": "Retrieves applicable discounts for a transaction. The discounts are categorized as <br> 1) **Transaction-level discounts**: Applied on the whole transaction. For example, if the transaction is for $100, the discount is applied by percentage or amount to the whole transaction amount. This category includes tier-specific discounts. <br> 2) **Item-level discounts**: Applied on specific SKU so that discount percentage or amount is applied to specific product (regardless of the quantity). <br> 3) **Miscellaneous discounts** - This category captures all other types of discounts.",
        "tags": [
          "Discounts"
        ],
        "operationId": "discounts_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/inquire/{profileId}/member-points": {
      "get": {
        "summary": "Retrieve Member Points",
        "description": "Retrieves all active and pending (excluding expired) member points along with the points breakdown.",
        "tags": [
          "Inquire"
        ],
        "operationId": "member-points_read",
        "parameters": [
          {
            "name": "profileId",
            "description": "Profile ID. It is generated in the response of the Enroll Member endpoint - POST /v1/members.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchMemberPointsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inquire/redeemable-points": {
      "get": {
        "summary": "Retrieve Redeemable Points",
        "description": "Retrieves the redeemable points of a member on a given entity. <br> When points in the member account reach a defined threshold value, the points are converted to rewards, which can be redeemed in the future purchases. <br> **Note**: The points to rewards conversion may be manual or automatic depending on how it is configured.",
        "tags": [
          "Inquire"
        ],
        "operationId": "redeemable-points_list",
        "parameters": [
          {
            "name": "profileId",
            "in": "query",
            "required": true,
            "description": "Profile ID. It is generated in the response of the Enroll Member endpoint - POST /v1/members.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ehtId",
            "in": "query",
            "description": "Entity Hierarchy Tree (EHT) ID. Either the EHT ID or the clubExternalReference must be specified along with the profileID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "externalReference",
            "in": "query",
            "description": "External reference number of the entity/store.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clubExternalReference",
            "in": "query",
            "description": "External reference number of the club.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemablePointsOnEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inquire/get_action_reasons": {
      "get": {
        "summary": "Retrieve Action Reasons",
        "description": "Retrieves reason codes and reason descriptions based on the actions defined for your business. This serves as a log for tracking and analysis. As an example, an action such as 'points transfer' has a specific code for it and a description such as 'transferring to relative' associated with it. In addition to the predefined actions, custom actions can be added.",
        "tags": [
          "Inquire"
        ],
        "operationId": "get_action_reasons_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchActionReasonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inquire/point-type-choices": {
      "get": {
        "summary": "Retrieve Point Types",
        "description": "Retrieve all the point types configured for your business. The point types are categorized as: <br> 1) Base points - Earned in any purchase transaction  based on the core rule. <br> 2) Bonus points - Earned as a bonus for example on a large purchase. <br> 3) Promotional Points - Earned as part of promotional events. <br> 4) Restricted Points - Points to be used only on specific entity/stores. <br> **Note**: You may choose only the point types that apply to your business.",
        "tags": [
          "Inquire"
        ],
        "operationId": "point-type-choices_list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchPointTypeChoicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inquire/points-expiry": {
      "get": {
        "summary": "Retrieve Points to be Expired",
        "description": "Retrieves all points that will expire within a year starting at 30 days, 60 days, and up to one year.",
        "tags": [
          "Inquire"
        ],
        "operationId": "points-expiry_list",
        "parameters": [
          {
            "name": "profileId",
            "in": "query",
            "description": "Profile ID. It is generated in the response of the Enroll Member endpoint - POST /v1/members.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsExpiryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inquire/all-points-expiry/{profileId}": {
      "get": {
        "summary": "Retrieve Expired Points",
        "description": "Retrieves expired points of a member for a date range, in UTC format. When date range is not specified, all the expired points are retrieved",
        "tags": [
          "Inquire"
        ],
        "operationId": "all-points-expiry_read",
        "parameters": [
          {
            "name": "profileId",
            "description": "ProfileId of the member, which is generated in the response of the Enroll Member endpoint - POST /v1/members.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTimestampUTC",
            "in": "query",
            "description": "The start date of the date range, in UTC format.",
            "example": "2020-03-20T01:30:08.180856",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endTimestampUTC",
            "in": "query",
            "description": "The end date of the date range, in UTC format.",
            "example": "2020-03-20T01:30:08.180856",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchMemberExpiriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass1"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponseClass2"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "json_data": {
        "type": "object",
        "properties": {
          "dateActivated": {
            "title": "Dateactivated",
            "type": "string",
            "description": "The date when the member account was activated.",
            "example": "1900-12-24",
            "format": "date"
          },
          "tierReference": {
            "title": "Tierreference",
            "minLength": 1,
            "type": "string",
            "description": "Tier name",
            "example": "BNZ"
          },
          "expirationDate": {
            "title": "Expirationdate",
            "type": "string",
            "description": "Account expiry time, in UTC format.",
            "example": "2022-09-17T14:26:32.192148+00:00",
            "format": "date-time"
          },
          "tierExpireDate": {
            "title": "Tierexpiredate",
            "type": "string",
            "description": "Account-tier expiry time, in UTC format.",
            "example": "2022-09-17T14:26:32.192148+00:00",
            "format": "date-time"
          },
          "memberSinceDate": {
            "title": "Membersincedate",
            "type": "string",
            "description": "LMS enrollment date of the member",
            "example": "1900-12-24",
            "format": "date"
          },
          "enrolledAtCenter": {
            "title": "Enrolledatcenter",
            "minLength": 1,
            "type": "string",
            "description": "Name of the store where the member is enrolled.",
            "example": "ClubTier"
          },
          "nonEmailCustomer": {
            "title": "Nonemailcustomer",
            "type": "boolean",
            "description": "true: Customer email is valid <br> false: Customer email is dummy.",
            "example": false,
            "nullable": true
          },
          "profileCompleted": {
            "title": "Profilecompleted",
            "type": "boolean",
            "description": "True: Member profile is complete <br> false: Member profile is incomplete.",
            "example": false,
            "nullable": true
          },
          "lastPaidStatusDate": {
            "title": "Lastpaidstatusdate",
            "type": "string",
            "description": "Date of last payment. Required for paid members.",
            "example": "2021-12-24",
            "format": "date"
          },
          "lastPaidStatusCenter": {
            "title": "Lastpaidstatuscenter",
            "type": "string",
            "description": "Entity/store where the pro membership was purchased (for the paid tier).",
            "example": "xyz",
            "format": "date"
          },
          "profileCompletionDate": {
            "title": "Profilecompletiondate",
            "type": "string",
            "description": "Date when the member profile was completed.",
            "example": "2021-12-24",
            "format": "date"
          }
        },
        "description": "The member account details as shared by the entity/store (not validated by LMS)."
      },
      "MemberAccount": {
        "type": "object",
        "properties": {
          "accountStatus": {
            "title": "Accountstatus",
            "minLength": 1,
            "type": "string",
            "description": "The account status such as enabled, disabled, etc.",
            "example": "Enabled"
          },
          "clubReference": {
            "title": "Clubreference",
            "minLength": 1,
            "type": "string",
            "description": "Club name or ID where the member is enrolled.",
            "example": "abc_club"
          },
          "clubTitle": {
            "title": "Clubtitle",
            "minLength": 1,
            "type": "string",
            "description": "Club name",
            "example": "ABC Club"
          },
          "customAttributes": {
            "title": "Customattributes",
            "type": "object",
            "properties": {},
            "description": "Account details as shared by the business. The details are stored in the LMS as provided, and without validation.",
            "example": {
              "memberSinceDate": "2021-07-26",
              "enrolledAtCenter": "Liberty Store",
              "profileCompleted": false
            }
          },
          "enrollmentEntity": {
            "title": "enrollmententity",
            "minLength": 1,
            "type": "string",
            "description": "Store where the member is enrollment.",
            "example": "demo"
          },
          "enrollmentStatus": {
            "title": "Enrollmentstatus",
            "type": "boolean",
            "description": "Status of the member's enrollment.",
            "example": true
          },
          "entityReference": {
            "title": "Entityreference",
            "minLength": 1,
            "type": "string",
            "description": "Name or ID for the store (or entity) where the member is enrolled.",
            "example": "entity_level_1"
          },
          "loyaltyNumber": {
            "title": "Loyaltynumber",
            "type": "string",
            "description": "The loyalty-number for this member account",
            "example": "10000147371"
          },
          "paidStatus": {
            "title": "Paidstatus",
            "type": "boolean",
            "description": "true: Paid membership <br> false: Free membership.",
            "example": false,
            "default": false
          },
          "profileId": {
            "title": "Profileid",
            "type": "string",
            "description": "Profile ID of the member. In an ecosystem, it acts as a primary ID to keep the various systems (apps, websites, etc.) in sync.",
            "example": "f90a1da5-c072-48b7-a9ea-eb35c5dd506b",
            "format": "uuid"
          },
          "redemptionChoice": {
            "title": "Redemptionchoice",
            "minLength": 1,
            "type": "string",
            "description": "Redemption choices are Bank and Auto. When the redemptionChoice is 'auto,' the points are automatically converted to rewards. When the redemptionChoice is 'bank,' the points are converted to rewards at the member’s request.",
            "example": "Auto",
            "enum": [
              "Bank",
              "Auto"
            ],
            "nullable": true
          },
          "redemptionThreshold": {
            "title": "Redemptionthreshold",
            "type": "string",
            "description": "Threshold value for redemption (configurable).",
            "example": 10
          },
          "tierExpiryDate": {
            "title": "Tierexpirydate",
            "type": "string",
            "description": "Tier expiry time, in UTC format.",
            "example": "2022-09-17T14:26:32.192148+00:00",
            "format": "date-time"
          },
          "tierExternalReference": {
            "title": "Tierexternalreference",
            "minLength": 1,
            "type": "string",
            "description": "External reference of the tier.",
            "example": "GLD"
          },
          "tierId": {
            "title": "Tierid",
            "type": "integer",
            "description": "Tier ID",
            "example": 4185,
            "format": "int32"
          },
          "tierTitle": {
            "title": "Tiertitle",
            "minLength": 1,
            "type": "string",
            "description": "Tier name (configurable)",
            "example": "ClubTier"
          },
          "updatedAt": {
            "title": "Updatedat",
            "type": "string",
            "description": "The date when the member account was last updated, in UTC format.",
            "example": "2021-11-01 12:15:53.831401+00:00",
            "format": "date-time"
          }
        },
        "description": "Member account details as shared by the business."
      },
      "PointActivationRequest": {
        "required": [
          "profileId"
        ],
        "type": "object",
        "description": "Details required to activate points",
        "properties": {
          "profileId": {
            "title": "Profileid",
            "description": "Profile ID of the member. It is generated in the response of the Enroll Member endpoint - POST /v1/members.",
            "example": "f90a1da5-c072-48b7-a9ea-eb35c5dd506b",
            "type": "string",
            "format": "uuid"
          },
          "startDate": {
            "title": "Startdate",
            "description": "Start of the date range, in UTC format.",
            "example": "2020-02-08 00:00:00",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endDate": {
            "title": "Enddate",
            "description": "End of the date range, in UTC format.",
            "example": "2020-02-08 00:00:00",
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Member": {
        "type": "object",
        "description": "Member details",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "Member account details",
            "items": {
              "$ref": "#/components/schemas/MemberAccount"
            }
          },
          "addressLine1": {
            "title": "Addressline1",
            "maxLength": 500,
            "type": "string",
            "description": "Line 1 of the address.",
            "example": "10400 NE 4th St",
            "nullable": true
          },
          "addressLine2": {
            "title": "Addressline2",
            "maxLength": 500,
            "type": "string",
            "description": "Line 2 of the address.",
            "example": "Suite 505",
            "nullable": true
          },
          "addressLine3": {
            "title": "Addressline3",
            "maxLength": 500,
            "type": "string",
            "description": "For additional directional information.",
            "example": "",
            "nullable": true
          },
          "birthdate": {
            "title": "Birthdate",
            "type": "string",
            "description": "Date of birth of the member.",
            "example": "1990-11-16"
          },
          "channelExternalReference": {
            "title": "Channelexternalreference",
            "type": "string",
            "description": "Sales channel.",
            "example": "Web"
          },
          "city": {
            "title": "City",
            "maxLength": 50,
            "type": "string",
            "description": "City name",
            "example": "Austin"
          },
          "country": {
            "title": "Country",
            "minLength": 1,
            "type": "string",
            "description": "Country abbreviation of the member",
            "example": "US"
          },
          "emailAddress": {
            "title": "Emailaddress",
            "type": "string",
            "description": "Email address of the member.",
            "example": "user@abc.com"
          },
          "enrollReasonCode": {
            "title": "Enrollreasoncode",
            "type": "string",
            "maxLength": 30,
            "description": "Reason code for member enrollment",
            "example": "1234"
          },
          "enrollReasonNote": {
            "title": "Enrollreasonnote",
            "type": "string",
            "maxLength": 300,
            "description": "Reason for member enrollment",
            "example": "Guest"
          },
          "enrollmentTimestamp": {
            "title": "Enrollmenttimestamp",
            "type": "string",
            "description": "Date of member enrollment, in UTC format.",
            "example": "2021-09-14T11:32:55.508949Z",
            "format": "date-time"
          },
          "firstName": {
            "title": "Firstname",
            "type": "string",
            "description": "First name of the member.",
            "example": "John"
          },
          "fullCountry": {
            "title": "Fullcountry",
            "type": "string",
            "description": "Country name of the member.",
            "example": "United States"
          },
          "fullRegion": {
            "title": "Fullregion",
            "type": "string",
            "description": "Region name of the member.",
            "example": "Texas"
          },
          "gender": {
            "title": "Gender",
            "type": "string",
            "description": "Gender of the member.",
            "enum": [
              "None",
              "Male",
              "Female",
              "Other"
            ],
            "example": "Male"
          },
          "lastName": {
            "title": "Lastname",
            "type": "string",
            "description": "Last name of the member.",
            "example": "Wayne"
          },
          "maritalStatus": {
            "title": "Maritalstatus",
            "type": "string",
            "enum": [
              "None",
              "Single",
              "Married",
              "Divorced",
              "Widowed",
              "Separated"
            ]
          },
          "middleName": {
            "title": "Middlename",
            "type": "string",
            "description": "Middle name of the member.",
            "example": "Duke"
          },
          "nationality": {
            "title": "Nationality",
            "type": "string",
            "description": "Nationality of the member.",
            "example": ""
          },
          "phoneNumber": {
            "title": "Phonenumber",
            "minLength": 1,
            "type": "string",
            "description": "Phone number used for enrollment (without space or dash).",
            "example": "923331234567"
          },
          "postalCode": {
            "title": "Postalcode",
            "type": "string",
            "description": "Zip code of the address.",
            "example": "98004"
          },
          "prefix": {
            "title": "Prefix",
            "type": "string",
            "description": "Prefix associated with the member name.",
            "example": "Mr",
            "enum": [
              "None",
              "Mr",
              "Mrs",
              "Ms"
            ]
          },
          "region": {
            "title": "Region",
            "maxLength": 150,
            "type": "string",
            "description": "Region abbreviation of the member",
            "example": "TX"
          },
          "sourceExternalReference": {
            "title": "Sourceexternalreference",
            "type": "string",
            "description": "Website of the parent company.",
            "example": "www.abcdemo.com"
          },
          "suffix": {
            "title": "Suffix",
            "type": "string",
            "description": "Suffix of the member name (if any)."
          }
        }
      },
      "MemberResponse": {
        "type": "object",
        "description": "Member details with enrollment status",
        "properties": {
          "message": {
            "title": "Message",
            "minLength": 1,
            "type": "string",
            "description": "Message corresponding to the API call.",
            "example": "Result of requested Members",
            "default": "Exception message"
          },
          "errors": {
            "title": "Errors",
            "type": "object",
            "properties": {},
            "description": "Dictionary of lists with different number of errors or exceptions.",
            "example": {}
          },
          "data": {
            "$ref": "#/components/schemas/Member"
          },
          "status": {
            "title": "Status",
            "type": "integer",
            "description": "Status code of the API call.",
            "example": 200,
            "format": "int32"
          }
        }
      },
      "adjusted-points": {
        "type": "object",
        "description": "Details of adjusted points",
        "properties": {
          "message": {
            "title": "Message",
            "type": "string",
            "description": "Message corresponding to the API call.",
            "example": "Member points adjusted"
          },
          "errors": {
            "title": "Errors",
            "type": "object",
            "properties": {},
            "description": "Error details, if any."
          },
          "data": {
            "description": "Adjustment details.",
            "$ref": "#/components/schemas/points-adjustment"
          },
          "status": {
            "title": "Status",
            "type": "integer",
            "description": "Status code of the API call.",
            "example": 200,
            "format": "int32"
          }
        }
      },
      "points-adjustment": {
        "type": "object",
        "description": "Details of points adjustment",
        "properties": {
          "Message": {
            "title": "Message",
            "type": "string",
            "description": "Message corresponding to the API call. Indicates the points adjusted.",
            "example": "100.0 points added"
          },
          "futureDate": {
            "type": "boolean",
            "description": "true: Adjustment will happen on a future date <br>false: Adjustment will happen instantly.",
            "example": false,
            "default": false
          },
          "ExceptionString": {
            "type": "string",
            "description": "Details of exception, if applicable",
            "example": ""
          },
          "transactionCode": {
            "title": "Transactioncode",
            "type": "string",
            "format": "uuid",
            "description": "The Transaction ID for the points adjustment operation",
            "example": "78660e74-02e3-11e8-b443-00163e911bd2"
          }
        }
      },
      "EnrollMember": {
        "required": [
          "clubReference",
          "emailAddress",
          "entityReference",
          "firstName",
          "lastName",
          "phoneNumber"
        ],
        "type": "object",
        "description": "Member details with contact information",
        "properties": {
          "firstName": {
            "title": "Firstname",
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "First name of the member.",
            "example": "John"
          },
          "middleName": {
            "title": "Middlename",
            "maxLength": 100,
            "type": "string",
            "description": "Middle name of the member.",
            "example": "Duke"
          },
          "lastName": {
            "title": "Lastname",
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Last name of the member.",
            "example": "Wayne"
          },
          "suffix": {
            "title": "Suffix",
            "type": "string",
            "description": "Suffix of the member name, if any.",
            "nullable": true
          },
          "gender": {
            "title": "Gender",
            "type": "string",
            "description": "Gender of the member.",
            "enum": [
              "None",
              "Male",
              "Female",
              "Other"
            ],
            "example": "Male"
          },
          "birthDate": {
            "title": "Birthdate",
            "type": "string",
            "description": "Date of birth of the member.",
            "example": "1990-11-16",
            "format": "date"
          },
          "emailAddress": {
            "title": "Emailaddress",
            "maxLength": 254,
            "minLength": 1,
            "type": "string",
            "description": "Email address of the member.",
            "example": "user@abc.com",
            "format": "email"
          },
          "phoneNumber": {
            "title": "Phonenumber",
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "Phone number of the member (without space or dash).",
            "example": "923331234567"
          },
          "addressLine1": {
            "title": "Addressline1",
            "maxLength": 500,
            "type": "string",
            "description": "Line 1 of the address.",
            "example": "10400 NE 4th St",
            "nullable": true
          },
          "addressLine2": {
            "title": "Addressline2",
            "maxLength": 500,
            "type": "string",
            "description": "Line 2 of the address.",
            "example": "Suite 505",
            "nullable": true
          },
          "addressLine3": {
            "title": "Addressline3",
            "maxLength": 500,
            "type": "string",
            "description": "Additional line for directional information.",
            "example": "",
            "nullable": true
          },
          "city": {
            "title": "City",
            "maxLength": 50,
            "type": "string",
            "description": "City name of the address.",
            "example": "Austin"
          },
          "region": {
            "title": "Region",
            "maxLength": 150,
            "type": "string",
            "description": "State name of the address.",
            "example": "Texas"
          },
          "postalCode": {
            "title": "Postalcode",
            "type": "string",
            "description": "Zip code of the address.",
            "example": "98004"
          },
          "country": {
            "title": "Country",
            "minLength": 1,
            "type": "string",
            "description": "Country name.",
            "example": "United States"
          },
          "nationality": {
            "title": "Nationality",
            "type": "string",
            "description": "Nationality of the member.",
            "example": ""
          },
          "maritalStatus": {
            "title": "Maritalstatus",
            "type": "string",
            "description": "Marital status of the member.",
            "example": "Single",
            "enum": [
              "None",
              "Single",
              "Married",
              "Divorced",
              "Widowed",
              "Separated"
            ]
          },
          "prefix": {
            "title": "Prefix",
            "type": "string",
            "description": "Prefix (if appliable) of the member name.",
            "example": "Mr",
            "enum": [
              "None",
              "Mr",
              "Mrs",
              "Ms"
            ]
          },
          "redemptionChoice": {
            "title": "Redemptionchoice",
            "minLength": 1,
            "type": "string",
            "description": "Redemption choices are Bank and Auto. When the choice is 'auto,' the points are automatically converted to rewards. When the choice is 'bank,' the points are converted to rewards at the member’s request.",
            "example": "Auto",
            "enum": [
              "Bank",
              "Auto"
            ],
            "nullable": true
          },
          "redemptionThreshold": {
            "title": "Redemptionthreshold",
            "type": "string",
            "description": "Threshold value (configurable) to be able to redeem the reward.",
            "example": 10,
            "nullable": true
          },
          "entityReference": {
            "title": "Entityreference",
            "minLength": 1,
            "type": "string",
            "description": "Name or ID for the store (or entity) where the member is enrolled.",
            "example": "BOUNTEE_CLUB"
          },
          "enrollmentTimestamp": {
            "title": "enrollmenttimestamp",
            "type": "string",
            "description": "Date of member enrollment.",
            "example": "2021-01-25",
            "format": "date-time",
            "nullable": true
          },
          "clubReference": {
            "title": "Clubreference",
            "minLength": 1,
            "type": "string",
            "description": "Club name or ID where the member is enrolled.",
            "example": "BLOCK_A"
          },
          "enrollReasonCode": {
            "title": "Enrollreasoncode",
            "maxLength": 30,
            "type": "string",
            "description": "Reason code for enrollment.",
            "example": "1234",
            "nullable": true
          },
          "enrollReasonNote": {
            "title": "Enrollreasonnote",
            "maxLength": 300,
            "type": "string",
            "description": "The enrollment reason.",
            "example": "As guest member",
            "nullable": true
          },
          "tierReference": {
            "title": "Tierreference",
            "type": "string",
            "description": "Tiers are always setup at the club level and a number of tiers can be created. Tiers are categorized as Free (Predefined names are Bronze, Silver, Gold) and Paid (Example - Pro). <br> **Note**: The tier names and the rules to move up and down the tiers are configurable. In addition, points, rewards, and tier expiration can be setup at the tier level.",
            "example": "Silver",
            "nullable": true
          },
          "customAttributes": {
            "title": "customAttributes",
            "type": "object",
            "properties": {},
            "description": "Inputs from the store (if applicable) and stored without validation.",
            "nullable": true
          },
          "sourceExternalReference": {
            "title": "Sourceexternalreference",
            "maxLength": 100,
            "type": "string",
            "description": "Website of the company used for member enrollment.",
            "example": "example.com",
            "nullable": true
          },
          "channelExternalReference": {
            "title": "Channelexternalreference",
            "maxLength": 100,
            "type": "string",
            "description": "Sales channel.",
            "example": "WEB",
            "nullable": true
          }
        }
      },
      "EnrollMemberResponse": {
        "description": "Member details with current status",
        "type": "object",
        "properties": {
          "message": {
            "title": "Message",
            "minLength": 1,
            "type": "string",
            "description": "Message corresponding to the API status.",
            "default": "Exception message",
            "example": "Created"
          },
          "errors": {
            "title": "Errors",
            "type": "object",
            "properties": {},
            "description": "A dictionary of lists with different number of errors or exceptions.",
            "example": {}
          },
          "data": {
            "$ref": "#/components/schemas/Member"
          },
          "status": {
            "title": "Status",
            "type": "integer",
            "description": "Status of the API request.",
            "example": 201,
            "format": "int32"
          }
        }
      },
      "UpdateMember": {
        "required": [
          "profileId"
        ],
        "type": "object",
        "description": "Details to update in the member information. Fields that are allowed to update are governed by company configuration.",
        "properties": {
          "profileId": {
            "title": "Profileid",
            "type": "string",
            "description": "Profile ID of the member to update",
            "example": "f90a1da5-c072-48b7-a9ea-eb35c5dd506b",
            "format": "uuid"
          },
          "firstName": {
            "title": "Firstname",
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "First name of the member.",
            "example": "John"
          },
          "middleName": {
            "title": "Middlename",
            "type": "string",
            "description": "Middle name of the member.",
            "example": "M"
          },
          "lastName": {
            "title": "Lastname",
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Last name of the member.",
            "example": "Williams"
          },
          "suffix": {
            "title": "Suffix",
            "type": "string",
            "description": "Suffix of the member name."
          },
          "gender": {
            "title": "Gender",
            "type": "string",
            "description": "Gender of the member.",
            "enum": [
              "None",
              "Male",
              "Female",
              "Other"
            ],
            "example": "Male"
          },
          "birthDate": {
            "title": "Birthdate",
            "type": "string",
            "description": "Date of birth of the member.",
            "example": "1980-11-30",
            "format": "date"
          },
          "emailAddress": {
            "title": "Emailaddress",
            "maxLength": 254,
            "minLength": 1,
            "type": "string",
            "description": "Email address given during enrollment.",
            "example": "user@abc.com",
            "format": "email"
          },
          "phoneNumber": {
            "title": "Phonenumber",
            "minLength": 1,
            "type": "string",
            "description": "Phone number given for enrollment (without space or dash).",
            "example": "923331234567"
          },
          "addressLine1": {
            "title": "Addressline1",
            "maxLength": 500,
            "type": "string",
            "description": "Line 1 of the address.",
            "example": "10400 NE 4th St",
            "nullable": true
          },
          "addressLine2": {
            "title": "Addressline2",
            "maxLength": 500,
            "type": "string",
            "description": "Line 2 of the address.",
            "example": "Suite 505",
            "nullable": true
          },
          "addressLine3": {
            "title": "Addressline3",
            "maxLength": 500,
            "type": "string",
            "description": "An additional line for directional information.",
            "example": "",
            "nullable": true
          },
          "city": {
            "title": "City",
            "maxLength": 50,
            "type": "string",
            "description": "City name of the address.",
            "example": "Bellevue"
          },
          "region": {
            "title": "Region",
            "maxLength": 150,
            "type": "string",
            "description": "State name of the address.",
            "example": "Wisconsin"
          },
          "postalCode": {
            "title": "Postalcode",
            "type": "string",
            "description": "Zip code of the address.",
            "example": "98004"
          },
          "country": {
            "title": "Country",
            "minLength": 1,
            "type": "string",
            "description": "Country name of the address.",
            "example": "United States"
          },
          "maritalStatus": {
            "title": "Maritalstatus",
            "type": "string",
            "description": "Marital status of the member.",
            "example": "Single",
            "enum": [
              "None",
              "Single",
              "Married",
              "Divorced",
              "Widowed",
              "Separated"
            ]
          },
          "prefix": {
            "title": "Prefix",
            "type": "string",
            "description": "Prefix (if appliable) of the member name.",
            "example": "Mr",
            "enum": [
              "None",
              "Mr",
              "Mrs",
              "Ms"
            ]
          },
          "redemptionChoice": {
            "title": "Redemptionchoice",
            "minLength": 1,
            "type": "string",
            "description": "The redemption options are Bank and Auto. If the redemptionChoice is 'auto,' the points are automatically converted to rewards. When the redemptionChoice is 'bank,' the points are converted to rewards at the member’s request.",
            "example": "Auto",
            "enum": [
              "Bank",
              "Auto"
            ]
          },
          "redemptionThreshold": {
            "title": "Redemptionthreshold",
            "type": "string",
            "description": "Points can be redeemed only when they reach a defined threshold value.",
            "example": 10,
            "default": "0.00"
          },
          "enrollmentStore": {
            "title": "enrollmentstore",
            "minLength": 1,
            "type": "string",
            "description": "Name of the entity or store (physical entire/store or a website) where the member is enrolled.",
            "example": "www.demostore.come"
          },
          "enrollmentDate": {
            "title": "enrollmentdate",
            "type": "string",
            "description": "Date of member enrollment.",
            "example": "2021-01-15",
            "format": "date"
          },
          "lastPaidStatusCenter": {
            "title": "Lastpaidstatuscenter",
            "minLength": 1,
            "type": "string",
            "description": "Entity or store where the pro membership was purchased (for the paid tier).",
            "example": "1201"
          },
          "lastPaidStatusDate": {
            "title": "Lastpaidstatusdate",
            "type": "string",
            "description": "Date to update the paid status.",
            "example": "2021-01-15",
            "format": "date"
          },
          "tierReference": {
            "title": "Tierreference",
            "type": "string",
            "description": "Reference-name of the tier to assign member to",
            "example": "GOLD"
          },
          "tierExpirationDatetime": {
            "title": "Tierexpirationdatetime",
            "type": "string",
            "description": "Tier expiration date-time. Only utilized if tierReference is specified",
            "example": "2026-01-15T23:59:59.000Z",
            "format": "date-time"
          },
          "customAttributes": {
            "title": "customAttributes",
            "type": "object",
            "properties": {},
            "description": "A dictionary representing the custom fields.",
            "example": {
              "joiningDate": "2021-07-26",
              "confirmationDate": "2021-07-26"
            }
          }
        }
      },
      "EnrollMemberUpdateResponse": {
        "type": "object",
        "description": "Response for the member update request",
        "properties": {
          "message": {
            "title": "Message",
            "minLength": 1,
            "type": "string",
            "description": "Message corresponding to the API call.",
            "example": "Member updated",
            "default": "Exception message"
          },
          "errors": {
            "title": "Errors",
            "type": "object",
            "properties": {},
            "description": "A dictionary of lists with different number of errors or exceptions.",
            "example": {
              "ExceptionString": []
            }
          },
          "data": {
            "$ref": "#/components/schemas/Member"
          },
          "status": {
            "title": "Status",
            "type": "integer",
            "description": "Status code of the API call.",
            "example": 200,
            "format": "int32"
          }
        }
      },
      "PointAdjustment": {
        "required": [
          "points"
        ],
        "type": "object",
        "description": "Details needed to adjust points",
        "properties": {
          "profileId": {
            "title": "Profileid",
            "type": "string",
            "description": "Profile ID of the member. In an ecosystem, it acts as a primary ID to keep the various systems (apps, websites, etc.) in sync.",
            "example": "f90a1da5-c072-48b7-a9ea-eb35c5dd506b",
            "format": "uuid"
          },
          "pointType": {
            "title": "Pointtype",
            "minLength": 1,
            "type": "string",
            "description": "Points type. <br> They are categorized as: <br> 1) Base points - Earned in any purchase transaction, based on the core rule. <br> 2) Bonus points - Earned as a bonus for example on a large purchase. <br> 3) Promotional Points - Earned as part of promotional events. <br> 4) Restricted Points - Points to be used only on specified stores.",
            "example": "Base",
            "nullable": true
          },
          "billingEntity": {
            "title": "Billingentity",
            "minLength": 1,
            "type": "string",
            "description": "Billing entity for the adjustment transaction.",
            "example": "Company_Club",
            "nullable": true
          },
          "points": {
            "title": "Points",
            "type": "number",
            "format": "float",
            "description": "Number of points to adjust. Can be positive or negative.",
            "example": 100
          },
          "reasonCode": {
            "title": "Reasoncode",
            "minLength": 1,
            "type": "string",
            "description": "Reason code for the point adjustment.",
            "example": "7502",
            "nullable": true
          },
          "setToPending": {
            "title": "Settopending",
            "type": "boolean",
            "description": "true: Points in Pending status. <br> false: Points in Active status. <br>**Note**:The time period for Pending state is configurable.",
            "default": false
          }
        }
      },
      "earn-discount": {
        "required": [
          "id",
          "value"
        ],
        "type": "object",
        "description": "Discount details",
        "properties": {
          "type": {
            "title": "type",
            "maxLength": 50,
            "minLength": 1,
            "type": "string",
            "description": "Type of discount (configurable).",
            "example": "promotion"
          },
          "description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the discount.",
            "example": "Black Friday discount"
          },
          "id": {
            "title": "Id",
            "type": "integer",
            "description": "Discount ID",
            "example": 2345,
            "format": "int32"
          },
          "value": {
            "title": "Value",
            "type": "integer",
            "description": "Discount amount",
            "example": 0,
            "format": "int32"
          }
        }
      },
      "TransactionItemsSerializerEarn": {
        "required": [
          "SKU",
          "grossAmount",
          "itemPrice",
          "itemQuantity",
          "lineNumber",
          "netAmount",
          "taxAmount",
          "totalAmountPaid"
        ],
        "type": "object",
        "description": "Transaction details",
        "properties": {
          "grossAmount": {
            "title": "Grossamount",
            "type": "number",
            "format": "float",
            "description": "Gross amount of the item, before discount application.",
            "example": 200
          },
          "totalAmountPaid": {
            "title": "Totalamountpaid",
            "type": "number",
            "format": "float",
            "description": "Amount paid for the item, including tax",
            "example": 200
          },
          "taxAmount": {
            "title": "Taxamount",
            "type": "number",
            "format": "float",
            "description": "Tax on the item.",
            "example": 20
          },
          "netAmount": {
            "title": "Netamount",
            "description": "Total amount of the item without tax, and after item-discount application.",
            "example": 180,
            "type": "number",
            "format": "float"
          },
          "itemName": {
            "title": "Itemname",
            "minLength": 1,
            "type": "string",
            "description": "Item name",
            "example": "demo item"
          },
          "itemPrice": {
            "title": "Itemprice",
            "type": "integer",
            "description": "Item price",
            "example": 90,
            "format": "int32"
          },
          "itemQuantity": {
            "title": "Itemquantity",
            "type": "integer",
            "description": "Item quantity",
            "example": 2,
            "format": "int32"
          },
          "SKU": {
            "title": "Sku",
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Stock Keeping Unit (SKU), a unique identifier of the item.",
            "example": "1123455"
          },
          "UOM": {
            "title": "Uom",
            "minLength": 1,
            "type": "string",
            "description": "Unit of Measurement (UOM).",
            "example": "unit"
          },
          "lineNumber": {
            "title": "Linenumber",
            "type": "integer",
            "description": "Line number of the item in the purchase order.",
            "example": 0,
            "format": "int32"
          },
          "discounts": {
            "type": "array",
            "description": "Discounts detail of the item.",
            "items": {
              "$ref": "#/components/schemas/earn-discount"
            }
          },
          "couponCodes": {
            "type": "array",
            "items": {
              "minLength": 1,
              "type": "string",
              "description": "Coupon Codes",
              "example": "H4B-1000"
            }
          }
        }
      },
      "Earn": {
        "required": [
          "ProfileId",
          "activityTimestamp",
          "checkForDuplicateTransaction",
          "discountValue",
          "entityReference",
          "fetchUpdatedMemberPointTotals",
          "netAmount",
          "totalTax",
          "transactionExternalReference",
          "transactionGrossAmount",
          "transactionTypeExternalReference",
          "totalAmountPaid"
        ],
        "type": "object",
        "description": "Details required to earn points",
        "properties": {
          "profileId": {
            "title": "Profileid",
            "type": "string",
            "description": "Profile ID of the member. In an ecosystem, it acts as a primary ID to keep the various systems (apps, websites, etc.) in sync.",
            "example": "67460e74-02e3-11e8-b443-00163e990bdb",
            "format": "uuid"
          },
          "entityReference": {
            "title": "Entityreference",
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Name or ID for the store (or entity) where the transaction took place.",
            "example": "Company LIBERTY CENTER"
          },
          "transactionTypeExternalReference": {
            "title": "Transactiontypeexternalreference",
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "External reference for the transaction type such as purchase, return, or exchange (Configurable as per requirement).",
            "example": "Supplements"
          },
          "activityTimestamp": {
            "title": "Activitytimestamp",
            "type": "string",
            "description": "Activity date (in UTC format). An activity could be enrolling a member, making a transaction, etc.",
            "example": "2020-02-08 09:30:26",
            "format": "date-time"
          },
          "transactionExternalReference": {
            "title": "Transactionexternalreference",
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "description": "Order ID or receipt ID for a transaction (received from the store). It is needed to cancel or return an order.",
            "example": "123321abc"
          },
          "transactionGrossAmount": {
            "title": "Transactiongrossamount",
            "minimum": 0,
            "description": "Gross transaction amount (in currency unit) of the total items earn. For example the gross amount of item1 is 50.00 and gross amount of item2 is 100.00. The transactionGrossAmount is 150.00.",
            "example": 200,
            "type": "number",
            "format": "float"
          },
          "checkForDuplicateTransaction": {
            "title": "Checkforduplicatetransaction",
            "type": "integer",
            "description": "0 indicates the system allows duplicates and 1 indicates there is a validation in place to identity duplicate.",
            "example": 1,
            "format": "int32"
          },
          "fetchUpdatedMemberPointTotals": {
            "title": "Fetchupdatedmemberpointtotals",
            "type": "integer",
            "description": "1 indicates the total points are calculated and shown to the member. 0 indicates the total points are not calculated and the member is only notified the earn is successful. **Note**: The response is faster when the value is 0 because the total points are not calculated on the fly.",
            "example": 0,
            "format": "int32"
          },
          "totalAmountPaid": {
            "title": "Totalamountpaid",
            "description": "Total amount paid for the items. For example, the amount paid for item1 is 100.00 and the amount of item2 is 200.00 so the total amount paid is 300.00.",
            "example": 180,
            "type": "number",
            "format": "float"
          },
          "discountValue": {
            "title": "Discountvalue",
            "type": "integer",
            "description": "Discount value on the transaction, if applicable.",
            "example": 20,
            "format": "int32"
          },
          "totalTax": {
            "title": "Totaltax",
            "type": "number",
            "format": "float",
            "description": "Total tax based on the number of items in the transaction. For example, the tax amount of item1 is 2.00 and tax amount of item2 is 1.00. The totalTax is 3.00.",
            "example": 20
          },
          "netAmount": {
            "title": "Netamount",
            "minimum": 0,
            "description": "Net transaction amount based on the total items in the transaction, after subtracting taxes and discounts.",
            "example": 160,
            "type": "number",
            "format": "float"
          },
          "issueAuditUser": {
            "title": "Issueaudituser",
            "maxLength": 200,
            "minLength": 1,
            "type": "string",
            "description": "Name of the representative who issued the earn transaction.",
            "example": "Joe",
            "nullable": true
          },
          "cancelAuditUser": {
            "title": "Cancelaudituser",
            "maxLength": 200,
            "minLength": 1,
            "type": "string",
            "description": "Name of the representative who cancelled the earn transaction.",
            "nullable": true,
            "example": "John"
          },
          "redemptionCode": {
            "description": "Redemption code to identify and link the rewards used in a specific transaction. This is generated in the response of the 'Issue Variable Rewards' endpoint - POST /api/v1/redeem/reward/issue.",
            "example": [
              "67460e74-02e3-11e8-b443-00163e990bdb"
            ],
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "reasonCode": {
            "title": "Reasoncode",
            "maxLength": 30,
            "minLength": 1,
            "type": "string",
            "description": "Reason code to categorize transactions. A parent company can configure custom codes for their stores as required.",
            "example": "9393"
          },
          "reasonDescription": {
            "title": "Reasondescription",
            "maxLength": 300,
            "minLength": 1,
            "type": "string",
            "description": "When reason codes are not configured, store can make use of the reason description to add notes on the transaction.",
            "example": "earning item"
          },
          "discounts": {
            "type": "array",
            "description": "Represents the discounts on the item.",
            "items": {
              "$ref": "#/components/schemas/Discount"
            }
          },
          "transactionItems": {
            "type": "array",
            "description": "Details of the items in the transaction.",
            "items": {
              "$ref": "#/components/schemas/TransactionItemsSerializerEarn"
            }
          },
          "setToPending": {
            "title": "Settopending",
            "type": "boolean",
            "description": "true: Points in Pending status <br> false: Points in Active status. <br>**Note**:The time period for Pending state is configurable.",
            "default": false
          }
        }
      },
      "DiscountData": {
        "required": [
          "id",
          "value"
        ],
        "type": "object",
        "description": "Discount details",
        "properties": {
          "type": {
            "title": "Type",
            "minLength": 1,
            "type": "string",
            "description": "Discount type (configurable).",
            "example": "promotion"
          },
          "description": {
            "title": "Description",
            "type": "string",
            "description": "Description of the discount.",
            "example": "Black Friday discount"
          },
          "id": {
            "title": "Id",
            "type": "integer",
            "description": "Discount ID",
            "example": 2345,
            "format": "int32"
          },
          "value": {
            "title": "Value",
            "type": "number",
            "format": "float",
            "description": "Discount amount",
            "example": 20
          }
        }
      },
      "Reward": {
        "type": "object",
        "description": "Reward details",
        "properties": {
          "reward_id": {
            "title": "Reward id",
            "type": "integer",
            "description": "Variable reward IDs (also referred to as reward certificate). **Note**:Multiple rewards can be used a transaction.",
            "example": 111,
            "format": "int32"
          },
          "core_rule_id": {
            "title": "Core rule id",
            "type": "integer",
            "description": "ID of the core rule based on which the rewards are generated.",
            "example": 2,
            "format": "int32"
          },
          "reward_portion": {
            "title": "Reward portion",
            "type": "number",
            "format": "float",
            "description": "Total amount of the reward.",
            "example": 10
          }
        }
      },
      "EarnApiResponse": {
        "required": [
          "profileId",
          "transactionNumber",
          "transactionType"
        ],
        "type": "object",
        "description": "Details of points earned",
        "properties": {
          "transactionCode": {
            "title": "Transactioncode",
            "type": "string",
            "description": "Transaction Code, which uniquely identifies each transaction",
            "example": "78660e74-02e3-11e8-b443-00163e911bd2",
            "format": "uuid"
          },
          "profileId": {
            "title": "Profileid",
            "type": "string",
            "description": "Profile ID of the member. In an ecosystem, it acts as a primary ID to keep the various systems (apps, websites, etc.) in sync.",
            "example": "67460e74-02e3-11e8-b443-00163e990bdb",
            "format": "uuid"
          },
          "transactionNumber": {
            "title": "Transactionnumber",
            "minLength": 1,
            "type": "string",
            "description": "Transaction number. It is same as the transactionExternalReference and indicates a unique order ID or receipt ID.",
            "example": "LOYALTY-54321"
          },
          "transactionDateTime": {
            "title": "Transactiondatetime",
            "type": "string",
            "description": "Transaction time, in UTC format.",
            "example": "2020-03-20T14:28:23.382748",
            "format": "date"
          },
          "activityTimestamp": {
            "title": "ActivityTimestamp",
            "type": "string",
            "description": "Activty time, in UTC format.",
            "example": "2020-03-20T14:28:23.382748",
            "format": "date"
          },
          "totalAmountPaid": {
            "title": "Totalamountpaid",
            "type": "number",
[...]
