{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "3fm08ayufjmhc"
  },
  "info": {
    "title": "Offers",
    "description": "e-commerce Offers APIs let you set up and manage stock keeping unit (SKU) prices. Its wide range of coupon and promotion features let you design discounts ranging from single-use, customer-specific coupons to site-wide promotions applicable for all skus.",
    "version": "2.0.0",
    "contact": {
      "email": "support@libertytreemedia.com"
    },
    "license": {
      "url": "https://libertytreemedia.com/privacy-policy",
      "name": "Inc"
    }
  },
  "servers": [
    {
      "url": "https://dev02.copilot.libertytreemedia.com",
      "description": "Development"
    },
    {
      "url": "https://stg02.copilot.libertytreemedia.com",
      "description": "Staging"
    },
    {
      "url": "https://sandbox.copilot.libertytreemedia.com",
      "description": "Sandbox"
    }
  ],
  "externalDocs": {
    "description": "Learn more about Offers",
    "url": "https://libertytreemedia.com/knowledgebase/offers"
  },
  "components": {
    "requestBodies": {
      "priceBody": {
        "description": "A JSON object containing price information",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/createPrice"
            }
          }
        }
      }
    },
    "schemas": {
      "error400": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string",
            "example": "BAD_REQUEST"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "Bad Request"
          }
        }
      },
      "error500": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string",
            "example": "INTERNAL_SERVER_ERROR"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "Internal server error."
          }
        }
      },
      "genericListQueryResponse": {
        "description": "Paging details used for selecting list",
        "type": "object",
        "properties": {
          "limit": {
            "description": "Number of records returned on a single page",
            "type": "number",
            "example": 10
          },
          "count": {
            "description": "Total number of records",
            "type": "number",
            "example": 150
          },
          "offset": {
            "description": "Number of records skipped before selecting records",
            "type": "number",
            "example": 0
          }
        }
      },
      "priceList": {
        "type": "object",
        "description": "Price list data",
        "properties": {
          "_id": {
            "description": "internal unique id",
            "type": "string",
            "example": "614b58924e92f6861ac9d43b"
          },
          "priceListId": {
            "description": "Price list ID. This is the system generated unique ID of the pricelist",
            "type": "number",
            "example": 10000003
          },
          "name": {
            "description": "Price list name",
            "type": "string",
            "example": "BuildMuscles-CONTRACT123"
          },
          "isDefault": {
            "description": "true: This is the default price list<br> false: This is not the default price list",
            "type": "boolean",
            "example": false
          },
          "currency": {
            "description": "3 letter currency code as defined by ISO-4217",
            "type": "string",
            "format": "iso-4217",
            "example": "USD"
          },
          "startDate": {
            "description": "Start date of the price list. This value can be `null`. However, if start date is mentioned, end date must also be mentioned.",
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2021-05-04T09:23:51.459Z"
          },
          "endDate": {
            "description": "The end date of price-list. This value can be `null`. However, if end date is mentioned, start date must also be mentioned.",
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "example": "2021-06-09T09:23:51.459Z"
          },
          "deleted": {
            "description": "true: Price list is deleted<br> false: Price list is not deleted",
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "description": "Creation date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2020-12-14T12:15:43.646Z"
          },
          "updatedAt": {
            "description": "Last updated date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2021-12-14T12:15:43.646Z"
          }
        }
      },
      "priceListResponse": {
        "type": "object",
        "properties": {
          "query": {
            "$ref": "#/components/schemas/genericListQueryResponse"
          },
          "data": {
            "description": "Price list data",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/priceList"
            }
          }
        }
      },
      "newPriceListRequest": {
        "type": "object",
        "required": [
          "name",
          "isDefault",
          "currency"
        ],
        "properties": {
          "name": {
            "description": "Pricelist name",
            "type": "string",
            "example": "BuildMuscles-CONTRACT123"
          },
          "isDefault": {
            "description": "true: If you want to keep the given pricelist as the default price list.<br> false: If you do not want to keep the given pricelist as the default price list.",
            "type": "boolean",
            "example": false
          },
          "currency": {
            "type": "string",
            "format": "iso-4217",
            "description": "Currency code, as defined by ISO-4217, of the price specified in the price list.",
            "example": "CAD"
          },
          "startDate": {
            "description": "Start date of the price list, it indicates the date when the price list becomes available to use.",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-04T09:23:51.459Z"
          },
          "endDate": {
            "description": "End date of the price list.",
            "type": "string",
            "format": "date-time",
            "example": "2021-06-09T09:23:51.459Z"
          }
        }
      },
      "priceListNameExists": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string",
            "example": "PRICE_LIST_NAME_EXISTS"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "Price list name already exists"
          }
        }
      },
      "priceListNotFound": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string",
            "example": "PRICE_LIST_NOT_FOUND"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "No Price List with this ID Found"
          }
        }
      },
      "updatePriceListRequest": {
        "type": "object",
        "required": [
          "name",
          "isDefault"
        ],
        "properties": {
          "name": {
            "description": "Pricelist name",
            "type": "string",
            "maxLength": 300,
            "example": "BuildMuscles-CONTRACT123"
          },
          "isDefault": {
            "description": "true: If you want to set the given price list as default price list.<br> false: If you do not want to set the given price list as default price list.",
            "type": "boolean",
            "example": false
          },
          "currency": {
            "type": "string",
            "format": "iso-4217",
            "description": "3 letter currency code as defined by ISO-4217",
            "example": "CAD"
          },
          "startDate": {
            "description": "Start date of the price list. It indicates the date when the price list will be available to use. This value can be `null`, however if you mention the start date, you must provide end date as well.",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-04T09:23:51.459Z"
          },
          "endDate": {
            "description": "End date of the price list. This value can be `null`, however if you mention an end date, you must provide a start date as well.",
            "type": "string",
            "format": "date-time",
            "example": "2021-06-09T09:23:51.459Z"
          }
        }
      },
      "updatedPriceList": {
        "type": "object",
        "properties": {
          "_id": {
            "description": "internal unique id",
            "type": "string",
            "example": "614b58924e92f6861ac9d43b"
          },
          "priceListId": {
            "description": "Price list ID. This is the system generated unique ID of the pricelist.",
            "type": "number",
            "example": 10000003
          },
          "name": {
            "description": "Price list name",
            "type": "string",
            "example": "BuildMuscles-CONTRACT123"
          },
          "isDefault": {
            "description": "true: indicates this is the default price list.<br> false: indicates this is not the default price list",
            "type": "boolean",
            "example": false
          },
          "currency": {
            "description": "3 letter currency code, as defined by ISO-4217, of the price specified in the price list",
            "type": "string",
            "format": "iso-4217",
            "example": "CAD"
          },
          "startDate": {
            "description": "Start date of the price list",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-04T09:23:51.459Z"
          },
          "endDate": {
            "description": "End date of the price list",
            "type": "string",
            "format": "date-time",
            "example": "2021-06-09T09:23:51.459Z"
          },
          "deleted": {
            "description": "true: Price list is deleted<br> false: Price list is not deleted",
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "description": "Creation date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2020-12-14T12:15:43.646Z"
          },
          "updatedAt": {
            "description": "Last updated date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2021-12-14T12:15:43.646Z"
          }
        }
      },
      "currencyNotValid": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string",
            "example": "INVALID_CURRENCY_CODE"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "Invalid Currency Code Entered"
          }
        }
      },
      "deletedPriceList": {
        "type": "object",
        "properties": {
          "_id": {
            "description": "internal unique id",
            "type": "string",
            "example": "614b58924e92f6861ac9d43b"
          },
          "priceListId": {
            "description": "Price list ID. This is the system generated unique ID of the pricelist.",
            "type": "number",
            "example": 10000003
          },
          "name": {
            "description": "PricelList name",
            "type": "string",
            "example": "BuildMuscles-CONTRACT123"
          },
          "isDefault": {
            "description": "true: This is the default price list<br> false: This is the not default price list",
            "type": "boolean",
            "example": false
          },
          "currency": {
            "description": "3 letter currency code, as defined by ISO-4217, of the price specified in the price list",
            "type": "string",
            "format": "iso-4217",
            "example": "CAD"
          },
          "startDate": {
            "description": "Start date of the price list if any",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-04T09:23:51.459Z"
          },
          "endDate": {
            "description": "End date of the price list if any",
            "type": "string",
            "format": "date-time",
            "example": "2021-06-09T09:23:51.459Z"
          },
          "deleted": {
            "description": "true: Price list is deleted<br> false: Price list is not deleted",
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "description": "Creation date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2020-12-14T12:15:43.646Z"
          },
          "updatedAt": {
            "description": "Last updated date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2021-12-14T12:15:43.646Z"
          }
        }
      },
      "priceWoOffers": {
        "type": "object",
        "properties": {
          "_id": {
            "description": "internal unique ID",
            "type": "string",
            "example": "616e011037a3810012345678"
          },
          "isSoftDeleted": {
            "description": "true: Price is deleted<br> false: Price is not deleted",
            "type": "boolean",
            "example": false
          },
          "itemId": {
            "type": "number",
            "description": "Item ID",
            "example": 1000000051
          },
          "itemSku": {
            "type": "string",
            "description": "Item SKU",
            "example": "SKU123456"
          },
          "offerId": {
            "type": "number",
            "description": "ID of the created offer for the itemId or itemSku",
            "example": 2386
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the record",
            "format": "date-time",
            "example": "2020-02-02T17:22:48.570Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the record",
            "format": "date-time",
            "example": "2020-02-02T17:22:48.570Z"
          },
          "job": {
            "type": "boolean",
            "example": false,
            "description": "true: Job is running either to create, update, or delete the record<br> false: Job is either completed or not running for some reason"
          },
          "priceListId": {
            "type": "number",
            "description": "Price list ID that contains the updated or created price",
            "example": 100000
          }
        }
      },
      "price": {
        "type": "object",
        "properties": {
          "base": {
            "description": "Base price (Minimum fixed price) of item",
            "type": "number",
            "example": 299
          },
          "sale": {
            "description": "Price at which the product is offered for sale",
            "type": "number",
            "example": 199
          },
          "cost": {
            "description": "Cost of the item",
            "type": "number",
            "example": 149
          },
          "currency": {
            "description": "The 3 letter currency code as defined by ISO-4217",
            "type": "string",
            "example": "USD"
          }
        }
      },
      "range": {
        "type": "object",
        "properties": {
          "minQuantity": {
            "description": "Minimum quantity to be sold for the range price to be applied",
            "type": "number",
            "example": 3
          },
          "price": {
            "description": "Range price of item to be applied for each item if quantity meets the minQuantity requirement",
            "type": "number",
            "example": 299
          }
        }
      },
      "offer": {
        "type": "object",
        "properties": {
          "kind": {
            "description": "Pricekind ID. This ID helps to identify if the price is base price or clearance price or any other additional price.",
            "type": "number",
            "example": 12
          },
          "channel": {
            "description": "Sales channel ID",
            "type": "number",
            "example": 12
          },
          "startDate": {
            "description": "Start date of the price if any",
            "type": "string",
            "format": "date-time",
            "example": "2020-02-03T17:22:48.570Z"
          },
          "endDate": {
            "description": "End date of the price if any",
            "type": "string",
            "format": "date-time",
            "example": "2020-02-05T17:22:48.570Z"
          },
          "price": {
            "$ref": "#/components/schemas/price"
          },
          "offerCode": {
            "type": "number",
            "description": "Unique code associated with the created offer price",
            "example": 130283400
          },
          "range": {
            "description": "Price range, based on quantity of items sold. If price range of an item is setup using the *Price Range* APIs, this array should not be empty.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/range"
            }
          },
          "priceAttributes": {
            "type": "array",
            "items": {
              "type": "object",
              "example": {
                "_id": "614dc5b0af8ee70008698202",
                "id": "614dc5b0af8ee70008698202"
              }
            }
          }
        }
      },
      "getPriceResponse": {
        "type": "object",
        "properties": {
          "query": {
            "description": "Object containing the size, count and number of pages in the response.",
            "type": "object",
            "example": {
              "limit": 10,
              "count": 8,
              "page": 1
            }
          },
          "prices": {
            "description": "An array containing all the prices in service",
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/priceWoOffers"
                },
                {
                  "type": "object",
                  "properties": {
                    "offers": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/offer"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "priceMethodType": {
                                "type": "string",
                                "description": "Type of method for calculating the price. <br> **Range-Base:** Uses the quantity of sold items to determine which price to use. Base price (minimum fixed price) is ignored in this method.<br> **SurfaceArea_Square_Increment:** Adds an incremental amount depending on the area of the item. The final price is calculated by adding the area multiplied by the price set for quantity, to the base price. For example, if we sell a rug that is 10x2, final price will be the base price (50, for example), plus an increment of the area (20) times the price range set for min quantity.<br> **SurfaceArea_Square_Increment_2Dim:** Adds extra price to the base price, determined by the area. The difference with this Square Area method is that in this case the overprice is not calculated, but instead it is looked-up in a table-like structure that is already created, by checking for the range of values provided in `width`.",
                                "example": "Range-Base"
                              },
                              "range": {
                                "type": "array",
                                "items": {
                                  "allOf": [
                                    {
                                      "$ref": "#/components/schemas/range"
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "maxQuantity": {
                                          "oneOf": [
                                            {
                                              "type": "string",
                                              "example": "Infinity",
                                              "description": "Maximum quantity of items to be sold to apply the range price"
                                            },
                                            {
                                              "type": "number",
                                              "example": 90,
                                              "description": "Set the maximum quantity to get offer price."
                                            }
                                          ],
                                          "description": "Maximum quantity to get offer price."
                                        },
                                        "width": {
                                          "type": "array",
                                          "description": "Only for 2 dimensional price calculations, meaning when price-method-type is `SurfaceArea_Square_Increment_2Dim`.",
                                          "items": {
                                            "type": "object",
                                            "required": [
                                              "minQuantity",
                                              "maxQuantity",
                                              "price"
                                            ],
                                            "properties": {
                                              "minQuantity": {
                                                "type": "number",
                                                "example": 1,
                                                "description": "Minimum quantity to get offer price."
                                              },
                                              "maxQuantity": {
                                                "oneOf": [
                                                  {
                                                    "type": "string",
                                                    "example": "Infinity",
                                                    "description": "`Infinity` if that is the maximum value"
                                                  },
                                                  {
                                                    "type": "number",
                                                    "example": 5,
                                                    "description": "Set the maximum quantity to get offer price"
                                                  }
                                                ],
                                                "description": "Maximum quantity to get offer price"
                                              },
                                              "price": {
                                                "type": "number",
                                                "example": 20.75,
                                                "description": "Unit price for the width range"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "createPrice": {
        "type": "object",
        "required": [
          "itemIds",
          "offers"
        ],
        "properties": {
          "priceListId": {
            "description": " `Optional`. ID or name of the price list to update the price for. If you do not provide ID or name, price will be updated for the *default* price list.<br> If you are using this endpoint to create price details, the price list ID will be generated automatically.",
            "oneOf": [
              {
                "type": "string",
                "example": "100-TwoWeeks"
              },
              {
                "type": "number",
                "example": 123456789
              }
            ]
          },
          "itemIds": {
            "type": "array",
            "description": "Item IDs to create or update the price for",
            "items": {
              "type": "number",
              "example": 10000001
            }
          },
          "itemSkus": {
            "type": "array",
            "description": "SKUs of the products to create or update the price for",
            "items": {
              "type": "string",
              "example": "SKU0123456"
            }
          },
          "offers": {
            "type": "array",
            "maxItems": 10,
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "channel",
                "startDate",
                "endDate",
                "price"
              ],
              "properties": {
                "kind": {
                  "description": "Pricekind ID. This ID helps to identify if the price is base price or clearance price or any other additional price.",
                  "type": "number",
                  "example": 12
                },
                "channel": {
                  "description": "Sales channel ID",
                  "type": "number",
                  "example": 12
                },
                "startDate": {
                  "description": "Price start date and time",
                  "type": "string",
                  "format": "date-time"
                },
                "endDate": {
                  "description": "Price end date and time",
                  "type": "string",
                  "format": "date-time"
                },
                "price": {
                  "type": "object",
                  "description": "Price data",
                  "properties": {
                    "base": {
                      "description": "Base price of the item",
                      "type": "number",
                      "example": 299
                    },
                    "sale": {
                      "description": "Price at which the product is offered for sale",
                      "type": "number",
                      "example": 199
                    },
                    "cost": {
                      "description": "Cost of the item, set by the manufacturer, if any",
                      "type": "number",
                      "example": 149
                    },
                    "currency": {
                      "description": "Currency code of the price",
                      "type": "string",
                      "example": "USD"
                    }
                  }
                },
                "additionalAttributes": {
                  "type": "array",
                  "description": "Contains any additional attributes (key-value pairs) defined by customers",
                  "items": {
                    "type": "object",
                    "properties": {
                      "customSkuTitle": {
                        "type": "string",
                        "example": "HOUSE TREE"
                      },
                      "customCategory": {
                        "type": "string",
                        "example": "HOME"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "createCopilotPriceResponse": {
        "type": "array",
        "description": "List of created or updated prices",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "internal ID"
            },
            "isSoftDeleted": {
              "type": "boolean",
              "description": "true: Price is soft deleted, means the details are removed from UI but are available in the databse.<br> false:  Price is not deleted"
            },
            "itemId": {
              "type": "number",
              "example": 1000000051,
              "description": "ID of the item"
            },
            "itemSku": {
              "type": "string",
              "example": "SKU123456",
              "description": "SKU of the item"
            },
            "priceListId": {
              "type": "number",
              "description": "ID of the pricelist to which the created price is added or updated",
              "example": 100000
            },
            "offerId": {
              "type": "number",
              "description": "ID of the created offer for the itemId or itemSku",
              "example": 2386
            },
            "offers": {
              "type": "array",
              "maxItems": 10,
              "minItems": 1,
              "description": "Prices of the SKU or priceListId",
              "items": {
                "type": "object",
                "properties": {
                  "kind": {
                    "description": "Pricekind ID. This ID helps to identify if the price is base price or clearance price or any other additional price.",
                    "type": "number",
                    "example": 12
                  },
                  "channel": {
                    "description": "Channel ID",
                    "type": "number",
                    "example": 12
                  },
                  "startDate": {
                    "description": "Price start date-time",
                    "type": "string",
                    "format": "date-time"
                  },
                  "endDate": {
                    "description": "Price end date-time",
                    "type": "string",
                    "format": "date-time"
                  },
                  "price": {
                    "type": "object",
                    "description": "Price data",
                    "properties": {
                      "base": {
                        "description": "Minimum fixed price of the item",
                        "type": "number",
                        "example": 299
                      },
                      "sale": {
                        "description": "Price at which the product is offered for sale",
                        "type": "number",
                        "example": 199
                      },
                      "cost": {
                        "type": "number",
                        "description": "Cost of the item if any",
                        "example": 149
                      },
                      "currency": {
                        "type": "string",
                        "description": "Currency code of the price",
                        "example": "USD"
                      }
                    }
                  },
                  "priceMethodType": {
                    "description": "Type of method for calculating the price. <br> **Range-Base:** Uses the quantity of sold items to determine which price to use. Base price (minimum fixed price) is ignored in this method.<br> **SurfaceArea_Square_Increment:** Adds an incremental amount depending on the area of the item. The final price is calculated by adding the area multiplied by the price set for quantity, to the base price. For example, if we sell a rug that is 10x2, final price will be the base price (50, for example), plus an increment of the area (20) times the price range set for min quantity.<br> **SurfaceArea_Square_Increment_2Dim:** Adds extra price to the base price, determined by the area. The difference with this Square Area method is that in this case the overprice is not calculated, but instead it is looked-up in a table-like structure that is already created, by checking for the range of values provided in `width`.",
                    "type": "string",
                    "enum": [
                      "Range-Base",
                      "SurfaceArea_Square_Increment",
                      "SurfaceArea_Square_Increment_2Dim"
                    ],
                    "example": "Range-Base"
                  },
                  "additionalAttributes": {
                    "type": "array",
                    "description": "Contains any additional attributes (key-value pairs) defined by customers",
                    "items": {
                      "type": "object",
                      "properties": {
                        "customSkuTitle": {
                          "type": "string",
                          "example": "HOUSE TREE"
                        },
                        "customCategory": {
                          "type": "string",
                          "example": "HOME"
                        }
                      }
                    }
                  }
                }
              }
            },
            "createdAt": {
              "type": "string",
              "format": "date-time",
              "description": "Price creation date-time",
              "example": "2020-02-02T17:22:48.570Z"
            },
            "updatedAt": {
              "type": "string",
              "format": "date-time",
              "description": "price last updated date-time",
              "example": "2020-02-02T17:22:48.570Z"
            },
            "job": {
              "type": "boolean",
              "description": "true: Job is running either to create or update details<br> false: Job is either completed or not running for some reason",
              "example": false
            }
          }
        }
      },
      "priceDateError": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string",
            "example": "PRICE_TIME_RANGE_ERROR"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "Start Date should be at least 15 mins before End Date and dates should not be past dates."
          }
        }
      },
      "getByIdPriceResponse": {
        "type": "object",
        "required": [
          "_id",
          "itemId",
          "priceListId",
          "offers",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "internal ID",
            "example": "62583d6e2d4b944f747127a5"
          },
          "isSoftDeleted": {
            "type": "boolean",
            "description": "true: record is deleted<br> false: record is not deleted",
            "example": false
          },
          "itemId": {
            "type": "number",
            "example": 1000000051,
            "description": "Item ID"
          },
          "itemSku": {
            "type": "string",
            "example": "SKU123456",
            "description": "SKU of the item"
          },
          "priceListId": {
            "type": "number",
            "description": "ID of the priceList related to the SKU or item",
            "example": 100000
          },
          "offers": {
            "type": "array",
            "maxItems": 10,
            "minItems": 1,
            "description": "Prices of the SKU/priceListId.",
            "items": {
              "type": "object",
              "required": [
                "channel",
                "startDate",
                "endDate",
                "price"
              ],
              "properties": {
                "kind": {
                  "description": "Pricekind ID. This ID helps to identify if the price is base price or clearance price or any other additional price.",
                  "type": "number",
                  "example": 12
                },
                "channel": {
                  "description": "Channel ID",
                  "type": "number",
                  "example": 12
                },
                "startDate": {
                  "description": "Start date of the price",
                  "type": "string",
                  "format": "date-time"
                },
                "endDate": {
                  "description": "End date of the price",
                  "type": "string",
                  "format": "date-time"
                },
                "price": {
                  "type": "object",
                  "description": "Price data",
                  "required": [
                    "base",
                    "currency"
                  ],
                  "properties": {
                    "base": {
                      "description": "Minimum fixed price of item.",
                      "type": "number",
                      "example": 299
                    },
                    "sale": {
                      "description": "Price at which product is offered for sale",
                      "type": "number",
                      "example": 199
                    },
                    "cost": {
                      "type": "number",
                      "example": 149,
                      "description": "Cost price of the item if any."
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD",
                      "description": "Currency code of the price."
                    }
                  }
                },
                "range": {
                  "type": "array",
                  "description": "Range of prices if any.",
                  "minItems": 1,
                  "items": {
                    "type": "object",
                    "properties": {
                      "minQuantity": {
                        "type": "number",
                        "description": "Minimum quantity to get a specific offer price.",
                        "example": 3
                      },
                      "maxQuantity": {
                        "oneOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "example": "Infinity",
                        "description": "Maximum quantity to get a specific price."
                      },
                      "price": {
                        "description": "Price for the specific range. This price only exists if width is not provided, i.e. when price method types are `Range-Base` and `SurfaceArea_Square_Increment`.",
                        "type": "number",
                        "example": 299
                      },
                      "width": {
                        "description": "Only for 2 dimensional price calculations, meaning when price-method-type is `SurfaceArea_Square_Increment_2Dim`. It exists if the above `price` is not sent.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "minQuantity": {
                              "type": "number",
                              "description": "Minimum quantity to get a specific offer price.",
                              "example": 3
                            },
                            "maxQuantity": {
                              "description": "Maximum quantity to get a specific offer price.",
                              "oneOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                }
                              ],
                              "example": "Infinity"
                            },
                            "price": {
                              "description": "Price for the width range.",
                              "type": "number",
                              "example": 299
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "priceMethodType": {
                  "description": "Type of method for calculating the price. <br> **Range-Base:** Uses the quantity of sold items to determine which price to use. Base price (minimum fixed price) is ignored in this method.<br> **SurfaceArea_Square_Increment:** Adds an incremental amount depending on the area of the item. The final price is calculated by adding the area multiplied by the price set for quantity, to the base price. For example, if we sell a rug that is 10x2, final price will be the base price (50, for example), plus an increment of the area (20) times the price range set for min quantity.<br> **SurfaceArea_Square_Increment_2Dim:** Adds extra price to the base price, determined by the area. The difference with this Square Area method is that in this case the overprice is not calculated, but instead it is looked-up in a table-like structure that is already created, by checking for the range of values provided in `width`.",
                  "type": "string",
                  "enum": [
                    "Range-Base",
                    "SurfaceArea_Square_Increment",
                    "SurfaceArea_Square_Increment_2Dim"
                  ],
                  "example": "Range-Base"
                },
                "priceAttributes": {
                  "type": "array",
                  "description": "Price attributes/add-ons for the item",
                  "items": {
                    "type": "object",
                    "properties": {
                      "blindMotor": {
                        "type": "number",
                        "example": 30,
                        "description": "Price of the attribute/addon"
                      }
                    }
                  }
                },
                "additionalAttributes": {
                  "type": "array",
                  "description": "Contains any additional attributes (key-value pairs) defined by customers",
                  "items": {
                    "type": "object",
                    "properties": {
                      "customSkuTitle": {
                        "type": "string",
                        "example": "HOUSE TREE"
                      },
                      "customCategory": {
                        "type": "string",
                        "example": "HOME"
                      }
                    }
                  }
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2020-02-02T17:22:48.570Z",
            "description": "Date of creation of the price."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2020-02-02T17:22:48.570Z",
            "description": "Last updated date of the price."
          },
          "job": {
            "type": "boolean",
            "description": "true: Job is running<br> false: Job operation is either completed or not running for some reason",
            "example": false
          },
          "offerId": {
            "type": "number",
            "example": 1074,
            "description": "ID of the created offer for the itemId or itemSku"
          },
          "query": {
            "type": "object",
            "description": "Pagination details of Offers array. This field will only exist if the `isActive` flag is false.",
            "required": [
              "count",
              "page",
              "limit"
            ],
            "properties": {
              "count": {
                "description": "Total number of offers objects",
                "example": 15,
                "type": "number"
              },
              "page": {
                "description": "Page number to return. Always paired with `limit`",
                "example": 1,
                "type": "number"
              },
              "limit": {
                "description": "Limits the number of records returned on a single page",
                "example": 10,
                "type": "number"
              }
            }
          }
        }
      },
      "priceEntryNotFound": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string",
            "example": "PRICE_NOT_FOUND"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "No price entry found."
          }
        }
      },
      "deletePricebyIdResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/priceWoOffers"
          },
          {
            "type": "object",
            "properties": {
              "offers": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "example": []
              },
              "isSoftDeleted": {
                "example": true
              }
            }
          }
        ]
      },
      "UpdatePriceRange": {
        "type": "object",
        "required": [
          "_id",
          "channel",
          "price",
          "priceMethodType",
          "range"
        ],
        "properties": {
          "_id": {
            "description": "Databse ID (_id) of the specific offer object you want to update",
            "type": "string",
            "example": "6160b94245e7cd32de097975"
          },
          "kind": {
            "description": "Pricekind ID. This ID helps to identify if the price is base price or clearance price or any other additional price.",
            "type": "number",
            "example": 12
          },
          "channel": {
            "description": "Sales channel ID",
            "type": "number",
            "example": 12
          },
          "startDate": {
            "description": "Price start date-time",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-04T08:30:00.459Z"
          },
          "endDate": {
            "description": "Price end date-time",
            "type": "string",
            "format": "date-time",
            "example": "2021-07-04T08:30:00.459Z"
          },
          "price": {
            "type": "object",
            "description": "Price details",
            "required": [
              "base"
            ],
            "properties": {
              "base": {
                "description": "Minimum fixed price of item, accepts zero",
                "type": "number",
                "example": 299
              },
              "sale": {
                "description": "Price at which the product is offered for sale",
                "type": "number",
                "example": 199,
                "default": null
              },
              "cost": {
                "type": "number",
                "example": 149,
                "description": "Cost of the item"
              },
              "currency": {
                "type": "string",
                "example": "USD",
                "description": "Currency code of the price for the item"
              }
            }
          },
          "priceMethodType": {
            "type": "string",
            "description": "Type of method for calculating the price. <br> **Range-Base:** Uses the quantity of sold items to determine which price to use. Base price (minimum fixed price) is ignored in this method.<br> **SurfaceArea_Square_Increment:** Adds an incremental amount depending on the area of the item. The final price is calculated by adding the area multiplied by the price set for quantity, to the base price. For example, if we sell a rug that is 10x2, final price will be the base price (50, for example), plus an increment of the area (20) times the price range set for min quantity.<br> **SurfaceArea_Square_Increment_2Dim:** Adds extra price to the base price, determined by the area. The difference with this Square Area method is that in this case the overprice is not calculated, but instead it is looked-up in a table-like structure that is already created, by checking for the range of values provided in `width`.",
            "example": "SurfaceArea_Square_Increment_2Dim",
            "enum": [
              "Range-Base",
              "SurfaceArea_Square_Increment",
              "SurfaceArea_Square_Increment_2Dim"
            ]
          },
          "range": {
            "type": "array",
            "description": "Different ranges to calculate the price",
            "items": {
              "type": "object",
              "required": [
                "minQuantity",
                "price"
              ],
              "properties": {
                "minQuantity": {
                  "type": "number",
                  "example": 1,
                  "description": "Minimum quantity of items or length of the item to get this range price or offer price"
                },
                "maxQuantity": {
                  "oneOf": [
                    {
                      "type": "string",
                      "example": "Infinity",
                      "description": "`Infinity` if that is the maximum value"
                    },
                    {
                      "type": "number",
                      "example": 90,
                      "description": "Set the maximum quantity to get range price or offer price"
                    }
                  ],
                  "description": "Maximum quantity of items or length of the item to get this range price"
                },
                "price": {
                  "type": "number",
                  "example": 20.75,
                  "description": "Price for the specific range. Add when width is not provided, i.e. when price method types are `Range-Base` and `SurfaceArea_Square_Increment`."
                },
                "width": {
                  "type": "array",
                  "description": "Only for 2 dimensional price calculations, meaning when price-method-type is `SurfaceArea_Square_Increment_2Dim`. It exists if the above `price` is not sent.",
                  "items": {
                    "type": "object",
                    "required": [
                      "minQuantity",
                      "maxQuantity",
                      "price"
                    ],
                    "properties": {
                      "minQuantity": {
                        "type": "number",
                        "example": 1,
                        "description": "Minimum quantity to get range price"
                      },
                      "maxQuantity": {
                        "oneOf": [
                          {
                            "type": "string",
                            "example": "Infinity",
                            "description": "`Infinity` if that is the maximum value"
                          },
                          {
                            "type": "number",
                            "example": 5,
                            "description": "Set the maximum quantity to get range price"
                          }
                        ],
                        "description": "Maximum quantity to get range price as set"
                      },
                      "price": {
                        "type": "number",
                        "example": 20.75,
                        "description": "Price for the specific range"
                      }
                    }
                  }
                }
              }
            }
          },
          "priceAttributes": {
            "type": "array",
            "description": "Price attributes/add-ons for the item",
            "items": {
              "type": "object",
              "properties": {
                "blindMotor": {
                  "type": "number",
                  "example": 30,
                  "description": "Price of the attribute/addon"
                }
              }
            }
          }
        }
      },
      "priceListNotFoundError": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string",
            "example": "PRICE_LIST_DATA_NOT_FOUND"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "Price list ID not found"
          }
        }
      },
      "priceGuard": {
        "type": "object",
        "properties": {
          "_id": {
            "description": "database ObjectId of the record",
            "type": "string",
            "example": "614b58924e92f6861ac9d43b"
          },
          "itemId": {
            "description": "Item ID",
            "type": "integer",
            "example": 10000000123
          },
          "itemSku": {
            "description": "Item SKU",
            "type": "string",
            "example": "DEF-SKU-1"
          },
          "priceListId": {
            "description": "ID of the pricelist under which the price kinds are created",
            "type": "integer",
            "example": 100000
          },
          "MSRP": {
            "description": "Manufacturer suggested retail price",
            "type": "number",
            "example": 299
          },
          "MAP": {
            "description": "Minimum advertised price",
            "type": "number",
            "example": 299
          },
          "ceiling": {
            "type": "number",
            "description": "Maximum price the seller is allowed to charge for the product. Price created for the item ID or item SKU under the specified pricelist should not exceed the given ceiling price.",
            "example": 299
          },
          "floor": {
            "type": "number",
            "description": "Lowest price at which the product can be sold. Price created for the item ID or item SKU under the specified pricelist should not be lower than the given floor price.",
            "example": 299
          },
          "deleted": {
            "description": "true: price guard is deleted<br> false: price guard is not deleted",
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "description": "Creation date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2020-12-14T12:15:43.646Z"
          },
          "updatedAt": {
            "description": "Last updated date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2021-12-14T12:15:43.646Z"
          }
        }
      },
      "listPriceGuardResponse": {
        "type": "object",
        "properties": {
          "query": {
            "description": "Pagination details used for selecting list",
            "type": "object",
            "properties": {
              "limit": {
                "description": "Limits number of records returned on a single page",
                "type": "number",
                "example": 10
              },
              "count": {
                "description": "Total number of records",
                "type": "number",
                "example": 150
              },
              "offset": {
                "description": "Number of records skipped before selecting records",
                "type": "number",
                "example": 10
              },
              "itemId": {
                "description": "ID of the item for which price guard records are fetched",
                "type": "number",
                "example": 100000001
              },
              "priceListId": {
                "description": "ID of the pricelist for which price guard records are fetched",
                "type": "number",
                "example": 100001
              },
              "sortBy": {
                "type": "string",
                "description": "Field by which records are sort. Default is `updatedAt`",
                "enum": [
                  "updatedAt",
                  "priceListId",
                  "priceListName",
                  "ItemId"
                ],
                "default": "updatedAt"
              },
              "sortOrder": {
                "type": "string",
                "description": "Sorting order- ascending or descending",
                "enum": [
                  "asc",
                  "desc"
                ],
                "default": "desc"
              }
            }
          },
          "data": {
            "description": "Price guard details",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/priceGuard"
            }
          }
        }
      },
      "newPriceGuardRequest": {
        "type": "object",
        "required": [
          "itemId",
          "priceListId"
        ],
        "properties": {
          "itemId": {
            "description": "Item ID",
            "type": "integer",
            "example": 10000000123
          },
          "itemSku": {
            "description": "Item SKU",
            "type": "string",
            "example": "DEF-SKU-1"
          },
          "priceListId": {
            "description": "PriceList ID",
            "type": "integer",
            "example": 100000
          },
          "MSRP": {
            "description": "Manufacturer suggested retail price",
            "type": "number",
            "example": 299
          },
          "MAP": {
            "description": "Minimum advertised price",
            "type": "number",
            "example": 299
          },
          "ceiling": {
            "type": "number",
            "description": "Maximum price the seller is allowed to charge for the product. Price created for the item ID or item SKU under the specified pricelist should not exceed the given ceiling price.",
            "example": 299
          },
          "floor": {
            "type": "number",
            "description": "Lowest price at which the product can be sold. Price created for the item ID or item SKU under the specified pricelist should not be lower than the given floor price.",
            "example": 299
          }
        }
      },
      "priceGuardValidationError": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string",
            "example": "REQUEST_VALIDATION"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "MSRP must be greater than 0"
          }
        }
      },
      "priceGuardNotFound": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string",
            "example": "PRICE_GUARD_NOT_FOUND"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "No Price Guard record with this Id Found."
          }
        }
      },
      "deletedPriceGuard": {
        "type": "object",
        "properties": {
          "_id": {
            "description": "database ObjectId of the record",
            "type": "string",
            "example": "614b58924e92f6861ac9d43b"
          },
          "itemId": {
            "description": "Item ID",
            "type": "integer",
            "example": 10000000123
          },
          "itemSku": {
            "description": "Item SKU",
            "type": "string",
            "example": "DEF-SKU-1"
          },
          "priceListId": {
            "description": "Pricelist ID",
            "type": "integer",
            "example": 100000
          },
          "MSRP": {
            "description": "Manufacturer suggested retail price",
            "type": "number",
            "example": 299
          },
          "MAP": {
            "description": "Minimum advertised price",
            "type": "number",
            "example": 299
          },
          "ceiling": {
            "type": "number",
            "description": "Maximum price the seller is allowed to charge for the product. Price created for the item ID or item SKU under the specified pricelist should not exceed the given ceiling price.",
            "example": 299
          },
          "floor": {
            "type": "number",
            "description": "Lowest price at which the product can be sold. Price created for the item ID or item SKU under the specified priceList should not be lower than the given floor price.",
            "example": 299
          },
          "deleted": {
            "description": "true indicates the price guard is deleted<br> false indicates the price guard is not deleted",
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "description": "Creation date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2020-12-14T12:15:43.646Z"
          },
          "updatedAt": {
            "description": "Last updated date of the record",
            "type": "string",
            "format": "date-time",
            "example": "2021-12-14T12:15:43.646Z"
          }
        }
      },
      "paginationRequestBody": {
        "type": "object",
        "properties": {
          "limit": {
            "description": "Number of records to return on a single page",
            "type": "number",
            "example": 10
          },
          "page": {
            "description": "Page number to return. Always paired with `limit`",
            "type": "number",
            "example": 1
          }
        }
      },
      "priceKind": {
        "type": "object",
        "properties": {
          "priceKindId": {
            "type": "number",
            "example": 10000001,
            "description": "Pricekind ID"
          },
          "name": {
            "type": "string",
            "example": "PRICE_KIND_01",
            "description": "Name of the price kind"
          },
          "channel": {
            "type": "number",
            "example": 123,
            "description": "Sales channel of the price kind from which the request is made"
          },
          "isActive": {
            "type": "boolean",
            "description": "true: price kind is active and being applied to SKUs.<br> false: price kind is inactive and is not being applied to SKUs at the moment.",
            "example": true
          },
          "isSoftDeleted": {
            "type": "boolean",
            "description": "true: price kind is removed from the list<br> false: price kind is active and running, which means it is being applied to the SKUs.",
            "example": false
          }
        }
      },
      "priceKinds": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/priceKind"
        }
      },
      "getPromoList": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "number",
            "minimum": 0,
            "description": "Number of records you wish to skip before selecting records",
            "example": 0
          },
          "limit": {
            "type": "number",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "description": "Number of records to return on a single page",
            "example": 10
          },
          "keyword": {
            "type": "string",
            "description": "Keyword to filter the matched promotion titles or promotional codes or coupon codes",
            "example": "PROMO"
          },
          "sortBy": {
            "type": "string",
            "description": "Field by which you want to sort the records",
            "default": "updatedAt",
            "enum": [
              "updatedAt",
              "title",
              "startDate",
              "endDate"
            ],
            "example": "updatedAt"
          },
          "sortOrder": {
            "type": "string",
            "description": "Sorting order of the records<br>**desc:** Descending order<br>**asc:** Ascending order",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ],
            "example": "desc"
          }
        }
      },
      "discount": {
        "type": "object",
        "required": [
          "unit",
          "value",
          "ON"
        ],
        "properties": {
          "unit": {
            "type": "string",
            "description": "Unit of discount; represents whether the discount is in percentage or by a certain amount",
            "enum": [
              "%OFF",
              "AMOUNT_OFF",
              "FIXED"
            ],
            "example": "%OFF"
          },
          "value": {
            "type": "number",
            "description": "Discount value to be applied",
            "example": 10
          },
          "discountId": {
            "type": "string",
            "description": "Discount ID to link `discount` and `targetProduct`, and is required for BuyGet and SpendGet type promotions",
            "example": 1
          },
          "autoAdd": {
            "type": "boolean",
            "description": "To indicate if the evaluation API (from Dynamic Pricing Engine) should suggest free items. Currently used for BuyGet and SpendGet type promotions.",
            "default": false,
            "example": false
          },
          "ON": {
            "type": "object",
            "description": "Indicates kind of products promotion is applied on.",
            "required": [
              "kind",
              "value"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "description": "SKU if discount is on Products<br> `SERVICE` if discount is on an SKU shipping cost<br> `SERVICE_CART` if discount is on cart shipping cost",
                "enum": [
                  "SKU",
                  "CART",
                  "SERVICE",
                  "SERVICE_CART"
                ],
                "example": "SKU"
              },
              "value": {
                "oneOf": [
                  {
                    "type": "string",
                    "example": "*"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                ]
              },
              "quantity": {
                "type": "number",
                "description": "Quantity of items to be sold for the discount to be applied. It is required when `type` is SPEND_GET, BUYGET, BOGO (Buy One Get One)",
                "example": 2
              }
            }
          },
          "set": {
            "type": "array",
            "description": "It is used to create a group of items in a set so that you can easily apply promotions or coupons to the defined set of items.",
            "items": {
              "type": "string",
              "enum": [
                "A",
                "B",
                "C",
                "D",
                "E",
                "F",
                "G",
                "H",
                "I",
                "J",
                "K",
                "L",
                "M",
                "N",
                "O",
                "P",
                "Q",
                "R",
                "S",
                "T",
                "U",
                "V",
                "W",
                "X",
                "Y",
                "Z"
              ]
            }
          }
        }
      },
      "targetProduct": {
        "type": "object",
        "description": "Represents the type or kind of products to which discount is applied",
        "required": [
          "kind",
          "value",
          "operator"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "description": "Selection of product type",
            "enum": [
              "SKU",
              "CATEGORY",
              "ATTRIBUTE",
              "PRICE_KIND",
              "PREVIOUS_DISCOUNT"
            ],
            "example": "SKU"
          },
          "value": {
            "description": "Value for the kind as defined above.<br> For `SKU`, value can be array of itemIds or array of SKU descriptions.<br> For `Category`, value can be array of category IDs or category descriptions.<br> For `Attribute`, value can be array of attribute objects, for example [{name: 'attribute-name', value:'attribute-value'}]",
            "oneOf": [
              {
                "type": "string",
                "description": "Description of the product. Here * indicates that all products are selected for the discount to be applied.",
                "example": "*"
              },
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "number",
                      "description": "SKU ID. [1000000234, 1000000445] could be array of itemIds if you want to apply promotion on selected items",
                      "example": 1000000234
                    },
                    {
                      "type": "string",
                      "description": "SKU description",
                      "example": "Kitchen items. [Kitchen items, Garden light] could be array of items if you want to apply promotion on selected items"
                    }
                  ]
                }
              }
            ]
          },
          "operator": {
            "description": "Following are the description.<br> **IN:** Target product is included for the discount to be applied.<br> **NOT_IN:** Target products are excluded from being discounted.",
            "type": "string",
            "enum": [
              "IN",
              "NOT_IN",
              "EQUAL",
              "GREATER_THAN"
            ],
            "example": "IN"
          },
          "discountId": {
            "type": "string",
            "description": "Discount ID to link discount and targetProduct, and is required for BuyGet and SpendGet promotions",
            "example": 1
          }
        }
      },
      "termsAndConditions": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the terms and conditions",
            "example": "Terms Applied"
          },
          "description": {
            "type": "string",
            "description": "Description of the terms and conditions",
            "example": "Items cannot be exchanged"
          }
        }
      },
      "promoResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "internal unique id",
            "example": "abcdefg1ee7ce20123456789"
          },
          "promoId": {
            "type": "number",
            "description": "System generated unique ID of promotion",
            "example": 100013
          },
          "promoCodes": {
            "type": "array",
            "description": "Promo codes are applied for coupons. It returns an empty array for a promotion but will contain promo codes for a coupon.",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "state": {
            "type": "string",
            "description": "Promotion status. <br> `ACTIVE` indicates that the promotion is applied to SKUs or items for which it is set as *Active*. Active promotions cannot be disabled.<br>`SCHEDULED` indicates that the promotion is scheduled to be applied to SKUs or items based on the defined start date.<br>`DISABLED` indicates that the promotion is set as *disabled* and is not in use. Only *Disbaled* promotions can be enabled.<br>`EXPIRED` indicates that the promotion is stopped by setting the expiration date, i.e. the start date and end date as the current date. Only those promotions that are *not expired* can be enabled.",
            "enum": [
              "ACTIVE",
              "SCHEDULED",
              "DISABLED",
              "EXPIRED"
            ],
            "example": "SCHEDULED"
          },
          "isImplicit": {
            "type": "boolean",
            "description": "Returns `true` for a promotion and `false` for a coupon",
            "example": true
          },
          "title": {
            "type": "string",
            "description": "Title of the promotion",
            "example": "CREATE PROMO"
          },
          "buyOperator": {
            "type": "string",
            "description": "It is used to define operator between different *Buy* conditions (different conditions as mentioned in the `condition` object)",
            "default": "OR",
            "enum": [
              "AND",
              "OR"
            ],
            "example": "OR"
          },
          "promo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "discount": {
                  "type": "array",
                  "description": "Discount details",
                  "items": {
                    "$ref": "#/components/schemas/discount"
                  }
                },
                "targetProducts": {
                  "type": "array",
                  "description": "Producst to which discount is applied",
                  "items": {
                    "$ref": "#/components/schemas/targetProduct"
                  }
                },
                "condition": {
                  "type": "array",
                  "description": "List of linked condition IDs to the promotion",
                  "items": {
                    "type": "string",
                    "example": "620d84a715f2d00001234567"
                  }
                }
              }
            }
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date of the promotion",
            "example": "2019-08-24T14:15:22Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the promotion",
            "example": "2019-08-25T14:15:22Z"
          },
          "isExclusive": {
            "type": "boolean",
            "description": "true: it is exclusively a promotion, and coupon cannot be stacked on promotion<br> false: coupon can be stacked on promotion",
            "example": true
          },
          "type": {
            "type": "string",
            "description": "Promotion type.<br> **Product:** SKU promotion. Promotion or discount on SKUs based on the value mentioned in *discount* object<br>**CART:** Cart promotion. Promotion or discount on cart amount based on the *ORDER_VALUE* that is set in *condition* object<br>**QUANTITY:** Quantity promotion provides discounts based on the quantity requirement set in the promotion<br>**BOGO:** Buy One Get One promotion provides discounts based on the Buy conditions and Get discounts<br>**SHIPPING:** Shipping promotion provides discounts on the shipping cost<br>**BUYGET:** BuyGet promotion specifies the Buy conditions and Get discounts<br>**SPEND_GET:** SpendGet promotion can specify the requirement of cart order value and the corresponding Get discounts",
            "enum": [
              "PRODUCT",
              "CART",
              "QUANTITY",
              "BOGO",
              "SHIPPING",
              "BUYGET",
              "SPEND_GET"
            ],
            "example": "PRODUCT"
          },
          "termsAndConditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/termsAndConditions"
            }
          },
          "shipmentMethodIds": {
            "type": "array",
            "description": "Required for Shipping type promo to provide eligible shipment Methods",
            "items": {
              "type": "string",
              "description": "Shipping method IDs of the shipping methods to which promotion is applicable",
              "example": 1000001
            }
          },
          "eligiblePriceList": {
            "type": "array",
            "description": "IDs of the price lists to which this promotion is applied",
            "items": {
              "type": "number",
              "example": 10000056
            }
          },
          "limits": {
            "type": "array",
            "description": "Array of limits for the promotion to be applied",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "description": "Kind of limit for the promotion to be applied",
                  "example": "ORDER"
                },
                "value": {
                  "description": "Value of limit for the promotion to be applied",
                  "type": "number",
                  "example": 2
                }
              }
            }
          },
          "note": {
            "type": "string",
            "example": "Independence day sale!",
            "description": "Promotion note or description"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date of the record",
            "example": "2019-08-20T14:15:22Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last updated date of the record",
            "example": "2019-08-20T14:15:22Z"
          }
        }
      },
      "promoListObject": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "internal unique ID",
            "example": "abcdefg1ee7ce20123456789"
          },
          "promoId": {
            "type": "number",
            "description": "The system generated unique id of promotion",
            "example": 100013
          },
          "promoCodes": {
            "type": "array",
            "description": "Returned an empty array for a promotion but will contain promo codes for a coupon",
            "example": [],
            "items": {
              "type": "string"
            }
          },
          "promoCount": {
            "type": "number",
            "description": "Number of promo codes attached to a coupon. It'll be `0` for a promotion.",
            "example": 0
          },
          "state": {
            "type": "string",
            "description": "Promotion status",
            "enum": [
              "ACTIVE",
              "SCHEDULED",
              "DISABLED",
              "EXPIRED"
            ],
            "example": "SCHEDULED"
          },
          "isImplicit": {
            "type": "boolean",
            "description": "Returned `true` for a promotion and false for a coupon",
            "example": true
          },
          "title": {
            "type": "string",
            "description": "Title of the promotion",
            "example": "CREATE PROMO"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date of the promotion",
            "example": "2019-08-24T14:15:22Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the promotion",
            "example": "2019-08-25T14:15:22Z"
          },
          "isExclusive": {
            "type": "boolean",
            "description": "true: coupon cannot be stacked on promotion<br> false: coupon can be stacked on promotion",
            "example": true
          },
          "eligiblePriceList": {
            "type": "array",
            "description": "Price lists to be considered for this promotion",
            "items": {
              "type": "number",
              "example": 10000056
            }
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last updated date of the record",
            "example": "2019-08-20T14:15:22Z"
          }
        }
      },
      "promoListResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "number",
                "description": "Number of records returned on a single page",
                "example": 10
              },
              "offset": {
                "type": "number",
                "description": "Number of records skipped before retrieving the details",
                "example": 0
              },
              "count": {
                "type": "number",
                "description": "Total number of records",
                "example": 50
              }
            }
          },
          "promos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/promoListObject"
            }
          }
        }
      },
      "condition": {
        "type": "object",
        "required": [
          "key",
          "value",
          "operator"
        ],
        "properties": {
          "key": {
            "type": "string",
            "example": "SKU",
            "enum": [
              "SKU",
              "QUANTITY",
              "CATEGORY",
              "ATTRIBUTE",
              "PRICE_KIND",
              "CHANEL",
              "ORDER_VALUE",
              "USER_SEGMENT",
              "USER_KIND"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "description": "Value for defined `key`",
                "example": "*"
              },
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "number",
                      "description": "SKU ID. [1000000234, 1000000445] could be array of itemIds if you want to apply discount on selected items",
                      "example": 1000000234
                    },
                    {
                      "type": "string",
                      "description": "SKU description",
                      "example": "Garden light"
                    }
                  ]
                }
              }
            ]
          },
          "operator": {
            "type": "string",
            "description": "Defines the condition for `key` and `value` set passed in the object. For example, IN indicates that the `key` and `value` set are included for promotion to be applied.",
            "example": "IN",
            "enum": [
              "NOT_EQUAL",
              "EQUAL",
              "GREATER_THAN",
              "LESS_THAN",
              "GREATER_THAN_OR_EQUAL_TO",
              "LESS_THAN_OR_EQUAL_TO",
              "NOT_IN",
              "IN"
            ]
          }
        }
      },
      "promoCondition": {
        "type": "object",
        "required": [
          "operator",
          "conditions"
        ],
        "properties": {
          "operator": {
            "type": "string",
            "description": "Conditional operator to be applied between each object of conditions array",
            "enum": [
              "AND",
              "OR"
            ]
          },
          "conditions": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/condition"
            }
          },
          "set": {
            "type": "string",
            "default": "A",
            "description": "It is used to create a group of items in a set so that you can easily apply promotions or coupons to the defined set of items.",
            "enum": [
              "A",
              "B",
              "C",
              "D",
              "E",
              "F",
              "G",
              "H",
              "I",
              "J",
              "K",
              "L",
              "M",
              "N",
              "O",
              "P",
              "Q",
              "R",
              "S",
              "T",
              "U",
              "V",
              "W",
              "X",
              "Y",
              "Z"
            ]
          }
        }
      },
      "createPromo": {
        "type": "object",
        "description": "Following example shows creation of a promotion to get 10% off on any item sold with quantity 2 . If type is `PRODUCT` and kind is `SKU`, value as `*` indicates that all products are selected for the discount to be applied.",
        "required": [
          "title",
          "promo",
          "startDate",
          "endDate",
          "isExclusive",
          "type"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 3,
            "maxLength": 120,
            "description": "Promotion title",
            "example": "CREATE PROMO"
          },
          "buyOperator": {
            "type": "string",
            "description": "It is used to define operator between different *Buy* conditions (different conditions as mentioned in the `condition` object)",
            "default": "OR",
            "enum": [
              "AND",
              "OR"
            ],
            "example": "OR"
          },
          "promo": {
            "type": "array",
            "items": {
              "type": "object",
              "minItems": 1,
              "required": [
                "discount",
                "targetProducts",
                "condition"
              ],
              "properties": {
                "discount": {
                  "type": "array",
                  "description": "Discount information",
                  "minItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/discount"
                  }
                },
                "targetProducts": {
                  "type": "array",
                  "description": "Products on which discounts are applied",
                  "minItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/targetProduct"
                  }
                },
                "condition": {
                  "type": "array",
                  "description": "Conditions for the promotion to be qualified",
                  "minItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/promoCondition"
                  }
                }
              }
            }
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the promotion",
            "format": "date-time",
            "example": "2019-08-24T14:15:22Z"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the promotion",
            "format": "date-time",
            "example": "2019-08-25T14:15:22Z"
          },
          "isExclusive": {
            "type": "boolean",
            "description": "true: it is exclusively a promotion, and coupon cannot be applied on the promotion<br> false: coupon can be stacked on the promotion",
            "example": true
          },
          "type": {
            "type": "string",
            "description": "Promotion type.<br> **Product:** SKU promotion. Promotion or discount on SKUs based on the value mentioned in *discount* object<br>**CART:** Cart promotion. Promotion or discount on minimum order amount of cart based on the *ORDER_VALUE* that is set in *condition* object<br>**QUANTITY:** Quantity promotion provides discounts on items based on the quantity requirement set in the promotion<br>**BOGO:** Buy One Get One promotion provides discounts based on the Buy conditions and Get discounts<br>**SHIPPING:** Shipping promotion provides discounts on the shipping cost<br>**BUYGET:** BuyGet promotion specifies the Buy conditions and Get discounts<br>**SPEND_GET:** SpendGet promotion can specify the requirement of cart order value and the corresponding Get discounts",
            "enum": [
              "PRODUCT",
              "CART",
              "QUANTITY",
              "BOGO",
              "SHIPPING",
              "BUYGET",
              "SPEND_GET"
            ],
            "example": "PRODUCT"
          },
          "termsAndConditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/termsAndConditions"
            }
          },
          "shipmentMethodIds": {
            "type": "array",
            "description": "Required for Shipping type promo to provide eligible shipment Method IDs",
            "items": {
              "type": "string",
              "example": 1000001
            }
          },
          "eligiblePriceList": {
            "type": "array",
            "description": "IDs of the price lists to which this promotion is applied",
            "items": {
              "type": "number",
              "example": 10000056
            }
          },
          "limits": {
            "type": "array",
            "description": "Array of limits for the promotion to be applied",
            "items": {
              "type": "object",
              "required": [
                "kind",
                "value"
              ],
              "properties": {
                "kind": {
                  "type": "string",
                  "description": "Kind of limit for the promotion to be applied",
                  "example": "ORDER"
                },
                "value": {
                  "description": "Value of limit for the promotion to be applied",
                  "type": "number",
                  "example": 2
                }
              }
            }
          },
          "note": {
            "type": "string",
            "example": "Independence day sale!",
            "description": "Promotion note or description"
          }
        }
      },
      "promoCouponDateError": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code",
            "type": "string",
            "example": "DATE_ERROR"
          },
          "message": {
            "description": "Error description",
            "type": "string",
            "example": "Start date should be smaller than end date and should be in future"
          }
        }
      },
      "promoConditionUpdate": {
        "type": "object",
        "required": [
          "operator",
          "conditions"
        ],
        "properties": {
          "id": {
            "description": "To link the condition object to the promo. It's optional and if not  provided, the existing one will be reused.",
            "type": "string",
            "nullable": true,
            "example": "akjhfds1239klhasdsa"
          },
          "operator": {
            "type": "string",
            "description": "The operator for condition within each conditions array",
            "enum": [
              "AND",
              "OR"
            ]
          },
          "conditions": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/condition"
            }
          },
          "set": {
            "type": "string",
            "default": "A",
            "description": "It is used to create a group of items in a set, and to easily apply promotions or coupons to the defined set of items.",
            "enum": [
              "A",
              "B",
              "C",
              "D",
              "E",
              "F",
              "G",
              "H",
              "I",
              "J",
              "K",
              "L",
              "M",
              "N",
              "O",
              "P",
              "Q",
              "R",
              "S",
              "T",
              "U",
              "V",
              "W",
              "X",
              "Y",
              "Z"
            ]
          }
        }
      },
      "updatePromo": {
        "type": "object",
        "required": [
          "title",
          "promo",
          "startDate",
          "endDate",
          "isExclusive",
          "type"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 3,
            "maxLength": 120,
            "description": "Promotion title",
            "example": "CREATE PROMO"
          },
          "buyOperator": {
            "type": "string",
            "description": "It is used to define operator between different *Buy* conditions (different conditions as mentioned in the `condition` object)",
            "default": "OR",
            "enum": [
              "AND",
              "OR"
            ],
            "example": "OR"
          },
          "promo": {
            "type": "array",
            "items": {
              "type": "object",
              "minItems": 1,
              "required": [
                "discount",
                "targetProducts",
                "condition"
              ],
              "properties": {
                "discount": {
                  "type": "array",
                  "description": "Discount information",
                  "minItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/discount"
                  }
                },
                "targetProducts": {
                  "type": "array",
                  "description": "Products to which discount is applied",
                  "minItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/targetProduct"
                  }
                },
                "condition": {
                  "type": "array",
                  "minItems": 1,
                  "description": "Condition for the promotion to be qualified",
                  "items": {
                    "$ref": "#/components/schemas/promoConditionUpdate"
                  }
                }
              }
            }
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Start date of the promotion",
            "example": "2019-08-24T14:15:22Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "End date of the promotion",
            "example": "2019-08-25T14:15:22Z"
          },
          "isExclusive": {
            "type": "boolean",
            "description": "true: it is exclusively a promotion, and coupon cannot be stacked on promotion<br> false: coupon can be stacked on promotion",
            "example": true
          },
          "type": {
            "type": "string",
            "description": "Promotion type.<br> **Product:** Promotion or discount on SKUs based on the value mention in *discount* object<br> **CART:** Promotion or discount on cart amount based on the *ORDER_VALUE* that is set in *condition* object<br> **QUANTITY:** Quantity promotion provides discounts based on the quantity requirement set in the promotion<br> **BOGO:** Buy One Get One promotion provides discounts based on the Buy conditions and Get discounts<br> **SHIPPING:** Shipping promotion provides discounts on the shipping cost<br> **BUYGET:** BuyGet promotion specifies the Buy conditions and Get discounts<br> **SPEND_GET:** SpendGet promotion can specify the requirement of cart order value and get the corresponding discounts",
            "enum": [
              "PRODUCT",
              "CART",
              "QUANTITY",
              "BOGO",
              "SHIPPING",
              "BUYGET",
              "SPEND_GET"
            ],
            "example": "PRODUCT"
          },
          "termsAndConditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/termsAndConditions"
            }
          },
          "shipmentMethodIds": {
            "type": "array",
            "description": "Required for *Shipping* type promo to provide eligible shipment methods",
            "items": {
              "type": "string",
              "example": 1000001
            }
          },
          "eligiblePriceList": {
            "type": "array",
            "description": "IDs of the price lists to which this promotion is applied",
            "items": {
              "type": "number",
              "example": 10000056
            }
          },
          "limits": {
            "type": "array",
[...]
